{% extends 'base.html.twig' %}

{% block title %}
    Visualiser audit entreprise
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="../vendor/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">
    <style>
        #sortable1, #sortable2 {
            min-height: 20px;
            list-style-type: none;
            margin: 0;
            padding: 5px 0 0 0;
            margin-right: 10px;
        }
        #sortable1 li, #sortable2 li {
            margin: 0 5px 5px 5px;
            padding: 2%;
            font-size: 1.2em;
            border-radius: 10px;
        }
        .to-do-container{
            background-color: #EDEDED;
            border: solid 1px lightgrey;
            border-radius: 10px;
        }
        .box {
            box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            cursor: -webkit-grab; cursor: grab;

        }

        /* Create the hidden pseudo-element */
        /* include the shadow for the end state */
        .box::after {
            content: '';
            opacity: 0;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        }
        .box:hover {
            transform: scale(1.1, 1.1);
        }

        /* Fade in the pseudo-element with the bigger shadow */
        .box:hover::after {
            opacity: 1;
        }

        .fa-pencil{
            cursor: pointer;
        }

        .ui-state-default{
            background-color: white;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="right_col" id="{{ idCompany }}" role="main">

        <div class="container" style="background-color: white">
            <div class="row">
                <div class="col-md-5 to-do-container">
                        <h1 class="text-center">A faire</h1>
                    <ul id="sortable1" class="connectedSortable">
                        {% for t in testsSelected %}
                            {% if t.done == false %}
                            <li class="ui-state-default box" id="{{ t.test.id }}">{{ t.test.name }}</li>
                                <!-- Modal -->
                                <div id="myModal{{ t.test.id }}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Créer une note</h4>
                                            </div>
                                            <div class="modal-body" id="modal-body{{ t.test.id }}">
                                                <textarea class="autoExpand form-control" rows="5" id="note{{ t.test.id }}"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="modalSend{{ t.test.id }}" onclick="modalNote({{ t.test.id }})" class="btn btn-primary">Envoyer</button>
                                                <button type="button"  class="btn btn-default close-modal" data-dismiss="modal" onclick="modifyModal({{ t.test.id }})">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-5 col-md-offset-2 to-do-container">
                    <h1 class="text-center">Fait</h1>

                    <ul id="sortable2" class="connectedSortable">
                        {% for t in testsSelected %}
                            {% if t.done == true %}
                                <li class="ui-state-default box" id="{{ t.test.id }}">{{ t.test.name }}<span id="noteIcon{{ t.id }}" class="fa fa-pencil " style="float: right" data-toggle="modal" data-target="#myModal{{ t.test.id }}" title="Modifier la note"></span></li>
                                <!-- Modal -->
                                <div id="myModal{{ t.test.id }}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Modifier une note</h4>
                                            </div>
                                            <div class="modal-body" id="modal-body{{ t.test.id }}">
                                                <textarea class="autoExpand form-control" rows="5" id="note{{ t.test.id }}">{{ t.note }}</textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="modalSend{{ t.test.id }}" onclick="setModalNote({{ t.test.id }})" class="btn btn-primary">Modifier</button>
                                                <button type="button"  class="btn btn-default close-modal" data-dismiss="modal" onclick="">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="../vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script>
        $( function() {
            $( "#sortable1, #sortable2" ).sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();

            $('.connectedSortable').sortable({
                receive: function (event, ui) {
                    data = {'id' : ui.item.attr('id'), 'idCompany' : $('.right_col').attr('id')};
                    $.ajax({
                        method: 'POST',
                        url: '../to-do?rq=testChange',
                        data: data
                    }).done(function(data){
                        if(data.done)
                            $('#myModal'+data.id).modal('show');
                            $('#'+data.id).html(data.name+'<span id="noteIcon'+data.id+'" class="fa fa-pencil" style="float: right" data-toggle="modal" data-target="#myModal'+data.id+'"></span>');
                            $('#noteIcon'+data.id).attr('title','Modifier la note');
                            $('#noteIcon'+data.id).tooltip();
                    })
                }
            })
            $('.fa-pencil').tooltip();

        } );
    </script>

{% endblock %}