
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/favicon.ico" type="image/ico" />

        <title>{% block title %}Tableau de bord{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
            <link href="../vendor/sweet-alert/dist/sweetalert2.css" rel="stylesheet">
            <link href="../vendor/SmartWizard/dist/css/smart_wizard_theme_dots.css" rel="stylesheet">

            <!-- CSS Files -->
            <link href="../css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
        {% endblock %}
        <style>
            .participant-container{
                border: solid 1px lightgrey;
            }
            .check-participant:hover{
                background-color: lightgrey;
            }
        </style>
    </head>

    <body class="nav-md">

    {% block body %}
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

              Tip 2: you can also add an image using data-image tag
          -->
            <div class="logo">
                <a href="../" class="simple-text logo-normal">
                    Securicheck
                </a>
                <div class="center">
                    <a href="../profile">
                    <img {% if not app.user.profile_pic %}src="../génèrer-avatar?rq=avatar"{% else %}src="../images/profile_pic/{{ app.user.id }}.{{ app.user.profile_pic }}"{% endif %} class="rounded-circle img" />
                    </a>
                    <h6 class="card-category text-gray">{{ app.user.function }}</h6>
                    <h4 class="card-title">{{ app.user.first_name }} {{ app.user.second_name }}</h4>
                </div>
            </div>

            <div class="sidebar-wrapper">

                <ul class="nav">

                    <li class="nav-item" id="nav-dash">
                        <a class="nav-link" href="../">
                            <i class="material-icons">dashboard</i>
                            <p>Tableau de bord</p>
                        </a>
                    </li>
                    <li class="nav-item " id="nav-audit">
                        <a class="nav-link" href="../voir-audit">
                            <i class="material-icons">description</i>
                            <p>Géstion des entreprises</p>
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item" id="nav-adm">
                        <a class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="material-icons">build</i>
                            <p>Administration</p>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <a class="nav-link" href="../administration/utilisateurs">
                                <i class="material-icons">person</i>
                                <p>Utilisateurs</p>
                            </a>
                            <a class="nav-link" href="../administration/contenu-audits">
                                <i class="material-icons">description</i>
                                <p>Contenu des audits</p>
                            </a>
                            <a class="nav-link" href="../voir-audit">
                                <i class="material-icons">vpn_key</i>
                                <p>Permissions</p>
                            </a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
                <li>
                    <button class="btn btn-info"  data-toggle="modal" data-target="#modalAudit" style="margin-left: 10%; margin-top: 10%; width: 60%">
                        <i class="fa fa-plus" ></i>
                        Créer un audit
                    </button>

                </li>
            </div>
        </div>
        <div class="modal fade" id="modalAudit" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="smartWizard">
                            <ul>
                                <li><a href="#step-1">1<br /><small>Nommer l'audit</small></a></li>
                                <li><a href="#step-2">2<br /><small>Informations de l'entreprise</small></a></li>
                                <li><a href="#step-3">3<br /><small>Inviter des participants</small></a></li>
                            </ul>
                            <div>
                                <div id="step-1" class="form-group text-center">
                                    <h2>Nom de l'audit</h2>
                                    <input type="text" id='int-audit-name' class="boot-form-control input-lg">
                                </div>
                                <div id="step-2" class="">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Nom de l'entreprise</label>
                                                <input type="text" id='int-customer' class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Email de la personne responsable</label>
                                                <input type="text" id='int-customer-responsable' class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="step-3" class="">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle btn btn-primary btn-bloc" data-toggle="dropdown" href="#">
                                            Sélectionner des participants
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-form" role="menu">
                                            {% for u in users %}
                                            <li class="check-participant">
                                                <input type="checkbox"  id="check{{ u.id }}"><label for="check{{ u.id }}" style="cursor: pointer"><img {% if not app.user.profile_pic %}src="../génèrer-avatar?rq=administration&p={{ u.first_name }}&n={{ u.second_name }}"{% else %}src="../images/profile_pic/{{ app.user.id }}.{{ app.user.profile_pic }}"{% endif %} class="rounded-circle" style="width: 30px" />{{ u.first_name }} {{u.second_name }}/{{ u.username }}</label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="create-ext-audit" class="btn btn-info btn-block" style="margin-top: 5%">Créer</button>


                    </div>
                </div>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">

                            <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                    <a class="dropdown-item" href="#">Another Notification</a>
                                    <a class="dropdown-item" href="#">Another One</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" id="navbarDropdownMenuAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img {% if not app.user.profile_pic %}src="../génèrer-avatar?rq=avatar"{% else %}src="../images/profile_pic/{{ app.user.id }}.{{ app.user.profile_pic }}"{% endif %} class="rounded-circle" style="width: 20px" />
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuAccount">
                                    <a class="dropdown-item" href="../profile"><i class="material-icons">person</i>Compte</a>
                                    <a class="dropdown-item" href="../deconnexion"><i class="material-icons">power_settings_new</i>Se déconnecter</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- End Navbar -->
            {% endblock %}
        </div>
    </div>

            {% block footer %}
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Securicheck
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            {% endblock %}

    {% block javascripts %}
        <script src="../js/core/jquery.min.js" type="text/javascript"></script>
        <script src="../js/core/popper.min.js" type="text/javascript"></script>
        <script src="../js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!--  Google Maps Plugin    -->
        <!-- Chartist JS -->
        <script src="../js/plugins/chartist.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="../js/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="../js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
        <script src="../vendor/sweet-alert/dist/sweetalert2.js"></script>
        <script src="../vendor/SmartWizard/dist/js/jquery.smartWizard.js"></script>
        <script src="../js/custom.min.js" type="text/javascript"></script>

        <script>
            $(document).ready(function() {
                // Javascript method's body can be found in assets/js/demos.js
                md.initDashboardPageCharts();
                $('#smartWizard').smartWizard({
                    lang: {
                        next: 'Suivant',
                        previous: 'Précédent'
                    },
                    theme: 'dots',
                    transitionEffect: 'fade', // Effect on navigation, none/slide/fade
                    transitionSpeed: '400'
                });
                $('.check-participant').click(function () {
                    li = this.closest('li');
                    if (this.checked){
                        $(li).css('background-color','lightgrey');
                    }else{
                        $(li).css('background-color','');
                    }
                })

                $('.dropdown-menu').on('click', function(e) {
                    if($(this).hasClass('dropdown-menu-form')) {
                        e.stopPropagation();
                    }
                });

            });
        </script>
    {% endblock %}


    </body>
</html>
