<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/favicon.ico" type="image/ico" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap -->
            <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
            <!-- Font Awesome -->
            <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

            <!-- Custom Theme Style -->
            <link href="../css/custom.min.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body class="nav-md">

    {% block body %}
    <div class="container body">
        <div class="main_container" >
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="../" class="site_title"><i class="fa fa-shield"></i> <span>Securicheck</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix" >
                        <div class="profile_pic">
                            <img src="../images/profile_pic/{{ profPic }}" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenue,</span>
                            <h2>{{ fName }} {{ sName }} </h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" >
                        <div class="menu_section">
                            <h3>Général</h3>
                            <ul class="nav side-menu">
                                <li><a href="/"><i class="fa fa-home"></i> Tableau de bord</a>
                                <li><a><i class="fa fa-file"></i> Audit <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="../créer-audit">Créer un audit</a></li>
                                        <li><a href="../voir-audit">Visualiser un audit existant</a></li>
                                    </ul>
                                </li>
                                {% if is_admin %}
                                <li><a><i class="fa fa-edit"></i> Administration <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="../administration-utilisateur">Utilisateurs</a></li>
                                        <li><a href="../administration-audit">Audit</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="../images/profile_pic/{{ profPic }}" alt="">{{ fName }} {{ sName }}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="../profile">Profile</a></li>
                                    <li><a href="../?rq=deconnexion"><i class="fa fa-sign-out pull-right"></i>Se déconnecter</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            {% endblock %}

            {% block footer %}
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Securicheck
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            {% endblock %}

    {% block javascripts %}
        <!-- jQuery -->
        <script src="../vendor/jquery/dist/jquery.min.js"></script>
        <script src="../vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>

        <!-- Bootstrap -->
        <script src="../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="../js/custom.min.js"></script>
    {% endblock %}

    </body>
</html>
