{% extends 'base.html.twig' %}

{% block title %}
Administration
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="../css/table_user.css" rel="stylesheet" />
        <link href="../vendor/jQuery-popover/css/bootstrap-popover-x.css" rel="stylesheet">

        <link href="../vendor/sweet-alert/dist/sweetalert2.css" rel="stylesheet">


    <style>


    .table-data tbody tr:hover td .more {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


.more {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #e5e5e5;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

   .more i {
    font-size: 20px;
    color: #808080;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

 .tr-user{
            transition: all 0.2s ease-in-out;

        }
        .tr-user:hover{
            transform: scale(1.02, 1.02);
        }
        .adm-link{
        font-size: 150%;
        }
    </style>

{% endblock%}
{% block body %}
    {{ parent() }}
    <div class="content">

        <div class="container-fluid">
             <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title">Administrer:</span>
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            <p class="adm-link"><i class="fa fa-user"></i> Les utilisateurs</p>
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            <p class="adm-link"><i class="material-icons">description</i> Les audits</p>
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            <p class="adm-link"><i class="material-icons">security</i> Le contenu de l'audit</p>
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                    <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->

                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>email</th>
                                                <th>Fonction</th>
                                                <th>Rôle</th>
                                                <th>Utilisateur depuis</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                            <tr class="tr-shadow tr-user" id="user{{ user.id }}">
                                                <td>{{ user.first_name }} {{ user.secondName }}</td>
                                                <td>
                                                    <span class="block-email">{{ user.username }}</span>
                                                </td>
                                                <td class="desc">{{ user.function }}</td>
                                                <td id="userRole{{ user.id }}"><span class="alert {% if user.role.role== 'ROLE_SUPER_ADMIN' %}alert-danger{% elseif user.role.role== 'ROLE_ADMIN'  %}alert-warning{% elseif user.role.role== 'ROLE_USER'  %}alert-info{% endif %}" >{{ user.role.role }}</span></td>
                                                <td>
                                                    <span class="status--process">{{ user.dateCreation|date('Y-m-d H:i:s') }}</span>
                                                </td>
                                                <td>
                                                                    {% if is_granted('ROLE_SUPER_ADMIN') %}

                                                        <span class="more">
                                                               <i class="material-icons swalDelete" rel="tooltip" title="Supprimer l'utilisateur" onclick="delUser('{{ user.first_name }} {{ user.secondName }}',{{ user.id }})">delete</i>

                                                        </span>
                                                        {% endif %}
                                                         <span class="more">
                                                              <i class="material-icons" rel="tooltip" title="Modifier les permissions" onclick="changeRole({{ user.id }})">lock</i>
                                                        </span>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            {% endfor %}


                                        </tbody>

                                    </table>
                                     <button type="button" id="btnAddUser" rel="tooltip" title="Ajouter un utilisateur" class="btn btn-info btn-block" onclick="addUser()">
                                                <i class="material-icons">add</i>
                                            </button>
                                </div>
                                <!-- END DATA TABLE -->
                    </div>
                    </div>
                    </div>
                    <div class="tab-pane" id="messages">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked>
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                            </td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                              <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                              <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane" id="settings">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                              <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked>
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                            </td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                              <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked>
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                              <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="../vendor/sweet-alert/dist/sweetalert2.js"></script>
    <script>
        $('.nav-item.active').removeClass('active');
        $('#nav-adm').addClass('active');
        $('#btnAddUser').click(function(){

        })
    </script>
{% endblock %}