<div id="row-selection{{ selection.id }}" class="row layer" style="margin: 1%">
    <div  class="comment col-md-6">
        <span id="selection{{ selection.id }}" class="editable suggestion selection">{{ selection.selection }}</span>
    </div>
    <div id="group-status{{ selection.id }}" class="col-md-4 group-selection">
        <div id="status{{ selection.test.id }}" class="{% if selection.status.status == 'fail' %}selection-fail{% elseif selection.status.status == 'error' %}selection-error{% elseif selection.status.status == 'success' %}selection-success{% endif %} select">
            <div class="btn-group">
                                            <span id="change-status{{ selection.id }}" style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {% if selection.status.status == 'fail' %}
                                                    échec
                                                {% elseif selection.status.status == 'error' %}
                                                    passe avec erreurs
                                                {% elseif selection.status.status == 'success' %}
                                                    passe
                                                {% endif %}
                                            </span>
                <div class="dropdown-menu dropdown-menu-right">
                    <span class="dropdown-item selection-choice selection-fail status">échec</span>
                    <span class="dropdown-item selection-choice selection-error status">passe avec erreurs</span>
                    <span class="dropdown-item selection-choice selection-success status">passe</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <i id="trash-selection{{ selection.id }}" class="material-icons trash select" title="archiver">delete</i>
    </div>
</div>