    <div id="section-group{{ id }}" class="section-group">

        <div class="section">
            <span id="section{{ id }}" class="editable suggestion section">{{ section }}</span>
        </div>
        <div id="audit-table{{ id }}">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6 text-center header">Tests</div>
                <div class="col-md-1 text-center header">Priorité</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="input-group">
                    <input class="form-control" id="new-sub{{ id }}" type="text" placeholder="Ajouter une sous-section">
                    <button class="add-button sub-section">+</button>
                </div>
            </div>
        </div>
    </div>