{% extends 'base.html.twig' %}

{% block title %}
    Administration audit
{% endblock %}

{% block stylesheets %}
    <!-- Datatables -->
    {{ parent() }}

    <link href="../vendor/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">
    <link href="../css/input_custom.css" rel="stylesheet">
    <style>
        .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
            background-color: #1ABB9C;
            border: #1ABB9C
        }
        .panel-primary>.panel-heading{
            background-color: #1ABB9C; !important;
            border: #1ABB9C;
        }

        .panel-primary {
            border: #1ABB9C;
        }

        .panel{
            transition: all 0.3s ease-in-out;

        }
        .panel:hover{
            transform: scale(1.01, 1.01);
        }
        .myTable{
            padding: 5%;

        }

    </style>




{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                            <div class="x_content">
                                <div id="accordion-phase">
                                    <h1>Créer une nouvelle phase d'audit</h1>
                                        <div class="container">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_content">
                                                        <br />
                                                        <form id="demo-form2" data-parsley-validate class="" method="post" action="../administration/audit">
                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-sm-6 col-xs-12 col-md-offset-3  col-xs-offset-12">
                                                                    <h3 class="col-xs-offset-3 col-md-offset-4" >Intitulé de la phase</h3>
                                                                    <input type="text" id="first-name" required="required" class="form-control col-md-6 col-xs-12" name="name_phase">
                                                            </div>
                                                        </div>
                                                            <div class="row">
                                                                    <div class="col-md-12 col-sm-12">
                                                                        <table class="table table-hover table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="text-center">
                                                                                        Test
                                                                                    </th>
                                                                                    <th class="text-center">
                                                                                        Type
                                                                                    </th>
                                                                                    <th class="text-center">
                                                                                        Priorité
                                                                                    </th>
                                                                                    <th class="text-center">
                                                                                        Famille
                                                                                    </th>
                                                                                    <th>
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class="sortable">
                                                                            <tr>
                                                                                <td>
                                                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                                                        <input type="text" name="test_phase[1][parent]" class="input_test" placeholder="Ajouter un test" required>
                                                                                        <div class="bar"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="form-group">
                                                                                        <select class="form-control" name="test_phase[1][type]" id="sel1">
                                                                                            {% for t in test_type %}
                                                                                                <option>{{ t.type }}</option>
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="form-group">
                                                                                        <select class="form-control" name="test_phase[1][prio]" id="sel1">
                                                                                            <option>1</option>
                                                                                            <option>2</option>
                                                                                            <option>3</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="input-group col-md-6 col-sm-6 col-xs-12">
                                                                                        <span class="input-group-addon"><a  class="glyphicon glyphicon-minus remove-child" style=" pointer-events: none;cursor: default;"></a></span>
                                                                                        <input type="text" name="test_phase[1][child][1][name]" class="input_test" placeholder="Ajouter un test enfant">
                                                                                        <div class="bar"></div>
                                                                                        <span class="input-group-addon"><a href="#" class="glyphicon glyphicon-plus add-child" i="1"></a></span>
                                                                                        <div class="input-group-addon ">
                                                                                            <select name="test_phase[1][child][1][type]" id="sel1">
                                                                                                {% for t in test_type %}
                                                                                                    <option>{{ t.type }}</option>
                                                                                                {% endfor %}
                                                                                            </select>
                                                                                        </div>
                                                                                        <div class="input-group-addon">
                                                                                            <select name="test_phase[1][child][1][prio]" id="sel1">
                                                                                                <option>1</option>
                                                                                                <option>2</option>
                                                                                                <option>3</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <a href="#" class="add-row"><span class="glyphicon glyphicon-plus"></span></a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="actionBar">
                                                                    <button type="submit" class="btn btn-success" name="submit" value="newPhase" >Soumettre</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                {% for phase in phases %}
                <div class="row" id="table{{ phase.id }}">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-primary shadow">
                            <div class="panel-heading"><h2>{{ phase.phase_name }}</h2></div>
                                <table id="myTable" class="myTable table table-striped table-bordered bulk_action dataTable no-footer">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Test</th>
                                        <th>Priorité</th>
                                        <th>Type</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for test in tests %}
                                        {% if test.idPhase.id == phase.id %}
                                            <tr>
                                                <td>{{ test.id }}</td>
                                                <td>{{ test.name }}</td>
                                                <td class="text-center">{{ test.priority }}</td>
                                                <td class="text-center">{% for t in test_type %}
                                                        {% if t == test.type %}
                                                            {{ t.type }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>

                                </table>
                                <br />

                                <div class="actionBar">
                                    <a class="btn btn-danger" id="{{ phase.id }}" onclick="deletePhase(this.id)">Supprimer la table</a>
                                    <a class="btn btn-primary" href="/modifier-phase?id={{ phase.id }}" name="{{ phase.id }}">Modifier la table</a>

                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
                <div id="dialog-confirm-table" title="Supprimer cette table" style="display: none">
                    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Etes-vous sûr de vouloir supprimer cette table? </p>
                </div>
            <div class="row">
                <div class="col-md-offset-1 col-xs-12 col-md-5 small-container">
                        <div class="page-header">
                            <h3>Gestion des sélections de test</h3>
                        </div>
                        <ul class="list-group">

                            {% for phase in phases %}
                                <div class="dropdown">
                                    <li class="list-group-item dropdown-toggle" type="button" data-toggle="dropdown">{{ phase.phase_name }}
                                    <span class="caret"></span>
                                    </li>
                                    <ul class="dropdown-menu">
                                        {% for test in tests %}
                                            {% if test.idPhase == phase %}
                                                {% for t in type %}
                                                     {% if t.type == 'Selection' and t == test.type %}
                                                         <li><a onclick="dialogConfirm({{ test.id }})">{{ test.name }}</a></li>
                                                         <div id="dialog-confirm{{ test.id }}" title="Menu de sélection" style="display: none;">
                                                             <form id="form{{ test.id }}">
                                                             <table class="table table-bordered" style="background: white">
                                                                 <thead>
                                                                    <tr>
                                                                        <th style="background: whitesmoke">{{ test.name }}</th>
                                                                    </tr>
                                                                 </thead>
                                                                 <tbody>
                                                                 {% set i = 0 %}
                                                                 {% for s in selection %}

                                                                     {% if s.test == test %}
                                                                 <tr>
                                                                      <td>
                                                                          <input type="text" class="selection{{ test.id }}" name="selection[{{ i }}][name]" value="{{ s.name }}" style="width: 500px" j="{{ i }}">
                                                                          <input type="hidden" name="id_test" value="{{ test.id }}">
                                                                          <input type="hidden" name="selection[{{ i }}][id]" value="{{ s.id }}">
                                                                          <a href="" class="glyphicon glyphicon-plus add-selection" i="{{ test.id }}"></a>
                                                                      </td>
                                                                  </tr>
                                                                         {% set i = i+1 %}
                                                                     {% endif %}
                                                                  {% endfor %}
                                                                 <tr>
                                                                     <td>
                                                                         <input type="text" class="selection{{ test.id }}" name="selection[{{ i }}][name]" style="width: 500px" j="{{ i }}">
                                                                         <input type="hidden" name="id_test" value="{{ test.id }}">
                                                                         <a class="glyphicon glyphicon-plus add-selection" i="{{ test.id }}"></a>
                                                                     </td>
                                                                 </tr>
                                                                 </tbody>
                                                             </table>
                                                             </form>
                                                         </div>
                                                     {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                </div>
                            {% endfor %}
                        </ul>
                </div>
            </div>

    </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="../vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        var i = 1;
        var j =1;
        $( function() {
            $( "#accordion-phase" ).accordion({
                collapsible: true,
                heightStyle: "content"

            });
                $('.myTable').DataTable({
                "language": {
                    "sProcessing": "Traitement en cours ...",
                    "sLengthMenu": "Afficher _MENU_ lignes",
                    "sZeroRecords": "Aucun résultat trouvé",
                    "sEmptyTable": "Aucune donnée disponible",
                    "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
                    "sInfoEmpty": "Aucune ligne affichée",
                    "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
                    "sInfoPostFix": "",
                    "sSearch": "Chercher:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Chargement...",
                    "oPaginate": {
                        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
                    }
                }
            });
        });

        $('.sortable').sortable();

        $('body').on('click', 'a.add-row', function() {
            i = i+1;
            j = j+1;
            var html = '<tr>\n' +
                '                                                                                <td>\n' +
                '                                                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">\n' +
                '                                                                                        <input type="text" name="test_phase['+i+'][parent]" class="input_test" placeholder="Ajouter un test" required>\n' +
                '                                                                                        <div class="bar"></div>\n' +
                '                                                                                    </div>\n' +
                '                                                                                </td>\n' +
                '                                                                                <td>\n' +
                '                                                                                    <div class="form-group">\n' +
                '                                                                                        <select class="form-control" name="test_phase['+i+'][type]" id="sel1">\n' +
                '                                                                                            {% for t in test_type %}\n' +
                '                                                                                                <option>{{ t.type }}</option>\n' +
                '                                                                                            {% endfor %}\n' +
                '                                                                                        </select>\n' +
                '                                                                                    </div>\n' +
                '                                                                                </td>\n' +
                '                                                                                <td>\n' +
                '                                                                                    <div class="form-group">\n' +
                '                                                                                        <select class="form-control" name="test_phase['+i+'][prio]" id="sel1">\n' +
                '                                                                                            <option>1</option>\n' +
                '                                                                                            <option>2</option>\n' +
                '                                                                                            <option>3</option>\n' +
                '                                                                                        </select>\n' +
                '                                                                                    </div>\n' +
                '                                                                                </td>\n' +
                '                                                                                <td>\n' +
                '                                                                                    <div class="input-group col-md-6 col-sm-6 col-xs-12">\n' +
                '                                                                                        <span class="input-group-addon"><a  class="glyphicon glyphicon-minus remove-child" style=" pointer-events: none;cursor: default;"></a></span>\n' +
                '                                                                                        <input type="text" name="test_phase['+i+'][child]['+j+'][name]" class="input_test" placeholder="Ajouter un test enfant">\n' +
                '                                                                                        <div class="bar"></div>\n' +
                '                                                                                        <span class="input-group-addon"><a href="#" class="glyphicon glyphicon-plus add-child" i='+i+'></a></span>\n' +
                '                                                                                        <div class="input-group-addon ">\n' +
                '                                                                                            <select name="test_phase['+i+'][child]['+j+'][type]" id="sel1">\n' +
                '                                                                                                {% for t in test_type %}\n' +
                '                                                                                                    <option>{{ t.type }}</option>\n' +
                '                                                                                                {% endfor %}\n' +
                '                                                                                            </select>\n' +
                '                                                                                        </div>\n' +
                '                                                                                        <div class="input-group-addon">\n' +
                '                                                                                            <select name="test_phase['+i+'][child]['+j+'][prio]" id="sel1">\n' +
                '                                                                                                <option>1</option>\n' +
                '                                                                                                <option>2</option>\n' +
                '                                                                                                <option>3</option>\n' +
                '                                                                                            </select>\n' +
                '                                                                                        </div>\n' +
                '                                                                                    </div>\n' +
                '                                                                                </td>\n' +
                '                                                                                <td>\n' +
                '                                                                                    <a href="#" class="remove-row"><span class="glyphicon glyphicon-minus"></span></a><a href="#" class="add-row"><span class="glyphicon glyphicon-plus"></span></a>\n\n' +
                '                                                                                </td>\n' +
                '                                                                            </tr>'
            $(this).closest('tr').after(html);
        })

        $('body').on('click', 'a.remove-row', function() {
            $(this).closest('tr').remove();
        })

        $('body').on('click', 'a.add-child', function() {
            j = j+1;
            var id = $(this).attr('i');
            $(this).closest('td').append(' <div class="input-group col-md-6 col-sm-6 col-xs-12">\n' +
                '                                                                                        <span class="input-group-addon"><a  class="glyphicon glyphicon-minus remove-child"></a></span>\n' +
                '                                                                                        <input type="text" name="test_phase['+id+'][child]['+j+'][name]" class="input_test" placeholder="Ajouter un test enfant">\n' +
                '                                                                                        <div class="bar"></div>\n' +
                '                                                                                        <span class="input-group-addon"><a href="#" class="glyphicon glyphicon-plus add-child" i="'+id+'"></a></span>\n' +
                '                                                                                        <div class="input-group-addon ">\n' +
                '                                                                                            <select name="test_phase['+id+'][child]['+j+'][type]" id="sel1">\n' +
                '                                                                                                {% for t in test_type %}\n' +
                '                                                                                                    <option>{{ t.type }}</option>\n' +
                '                                                                                                {% endfor %}\n' +
                '                                                                                            </select>\n' +
                '                                                                                        </div>\n' +
                '                                                                                        <div class="input-group-addon">\n' +
                '                                                                                            <select name="test_phase['+id+'][child]['+j+'][prio]" id="sel1">\n' +
                '                                                                                                <option>1</option>\n' +
                '                                                                                                <option>2</option>\n' +
                '                                                                                                <option>3</option>\n' +
                '                                                                                            </select>\n' +
                '                                                                                        </div>\n' +
                '                                                                                    </div>')
        })

        $('body').on('click', 'a.remove-child', function() {
            $(this).closest('div.input-group').remove();
        })
        $('body').on('click', 'a.add-selection', function() {
            var id =$(this).attr('i');
            var i = 0;
            $('.selection'+id).each(function () {
                attr = $(this).attr('j')
                if (i<attr){
                    i = attr;
                }
            })
            i++;
            $(this).closest('tr').after('<tr>\n' +
                '                                                                     <td>\n' +
                '                                                                         <input type="text" class="selection'+id+'" name="selection['+i+'][name]" style="width: 500px" j="'+i+'">\n' +
                '                                                                         <a class="glyphicon glyphicon-plus add-selection" i="'+id+'"></a>\n' +
                '                                                                     </td>\n' +
                '                                                                 </tr>')
        })
    </script>

{% endblock %}
