{% extends 'base.html.twig' %}


{% block title %}

    Nouvel audit

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="../vendor/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="../css/input_custom.css" rel="stylesheet">
    <style>
    </style>
{% endblock %}

{% block body %}

    {{ parent() }}
    <div class="right_col" role="main">

            <div class="row">
                <form class="form-horizontal form-label-left" method="post" action="../résultat-audit">

                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                         <div class="panel panel-primary shadow">
                             <div class="panel-heading"><h2>Informations de la société</h2></div>
                             <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Nom de la société
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="name-company" required="required" class="input_test col-md-7 col-xs-12 info-company" name="name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Téléphone de la société
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="phone-company" name="phone" required="required" class="input_test col-md-7 col-xs-12 info-company">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email de la société</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="email-company" required="required" class="input_test col-md-7 col-xs-12 info-company" type="email" name="email">
                                            </div>
                                        </div>
                             <div class="form-group">
                                 <label class="control-label col-md-3 col-sm-3 col-xs-12">Taille de l'entreprise</label>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                     <select  class="col-md-3 col-xs-12" name="size">
                                         {% for s in size %}
                                             <option><{{ s.max_size }}</option>
                                         {% endfor %}
                                     </select>
                                 </div>
                             </div>
                                </div>
                </div>

                    <div class="x_panel">
                    <div class="clearfix"></div>
                                <div id="step-2">

                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                {% set i = 1 %}
                                                {% for phase in phases %}
                                                     {% if i == 1 %}
                                                        <li role="presentation" class="active"><a href="#tab_content{{ i }}" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ phase.phase_name }}</a>
                                                        </li>
                                                    {% else  %}
                                                        <li role="presentation" class=""><a href="#tab_content{{ i }}" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ phase.phase_name }}</a>
                                                        </li>
                                                        {% endif %}
                                                {% set i = i+1 %}
                                                {% endfor %}
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                {% set i = 1 %}
                                                {% for phase in phases %}

                                                {% if i == 1 %}
                                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content{{ i }}" aria-labelledby="home-tab">
                                                    {% else %}
                                                        <div role="tabpanel" class="tab-pane fade" id="tab_content{{ i }}" aria-labelledby="home-tab">
                                                    {% endif %}
                                                            <div class="container">
                                                                <div class="row">
                                                            <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2" style="border: 1px solid; box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">
                                                                    <div class="col-md-10 col-md-offset-1 ">
                                                                    <div id="audit-number" style="text-align: right">
                                                                    <h4>Audit n°{{ auditNumber }}</h4>
                                                                </div>
                                                                <div class="well well-md">
                                                                    <span style="display: block; text-align: center">Société:<h1 class="name-company"></h1></span>
                                                                </div>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                                <div class="page-header">
                                                                    <h2>{{ phase.phase_name }}</h2>
                                                                </div>

                                                                {% for test in tests %}
                                                                    {% if test.idPhase.id == phase.id and test.id_parent is null %}
                                                                      <div id="group-form{{ test.id }}" class="group-form-unchecked col-md-8 col-sm-8 col-xs-12" style="margin: 1%">
                                                                        <div class="form-group">
                                                                            {% for t in type %}
                                                                                {% if t.type == 'Question' and t == test.type %}
                                                                                    <label class="checkbox-inline" onclick="toggleClass({{ test.id }})">
                                                                                    <input type="checkbox" class="form-control check-audit" id="checkbox-audit{{ test.id }}" name="tests[{{ test.id }}][check]">{{ test.name }}</label>
                                                                                {% elseif t.type == 'Selection' and t == test.type %}
                                                                                    <label class="checkbox-inline" onclick="toggleClass({{ test.id }})">{{ test.name }}
                                                                                        <select class="form-control check-audit" id="checkbox-audit{{ test.id }}" name="tests[{{ test.id }}][selection]" >
                                                                                            <option value="" selected>Aucun</option>
                                                                                            {% for s in selection %}
                                                                                                 {% if s.test == test %}
                                                                                                    <option value="{{ s.name }}">{{ s.name }}</option>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                    </label>

                                                                                {% endif %}
                                                                            {% endfor %}
                                                                            <span class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal{{ test.id }}"></span>
                                                                            <div class="modal fade" id="myModal{{ test.id }}" role="dialog">
                                                                                <div class="modal-dialog modal-lg">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                            <h4 class="modal-title">Informations additionnelles</h4><small>{{ test.name }}</small>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <textarea class="autoExpand form-control" rows="5" name="tests[{{ test.id }}][info]"></textarea>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                          {% set tmp = 1 %}
                                                                          {% for t in tests %}
                                                                            {% if test == t.id_parent %}
                                                                                {% if tmp == 1 %}
                                                                                <div class="group-child col-md-offset-1" id="group-child{{ test.id }}">
                                                                                    {% endif %}

                                                                                <div class="form-group">
                                                                                    {% for ty in type %}
                                                                                        {% if ty.type == 'Question' and ty == t.type %}
                                                                                            <label class="checkbox-inline"><input type="checkbox" class="form-control check-audit box{{ test.id }}" name="tests[{{ t.id }}][check]">{{ t.name }}</label>
                                                                                        {% elseif ty.type == 'Selection' and ty == t.type %}
                                                                                            <label class="checkbox-inline">{{ t.name }}
                                                                                                <select class="form-control check-audit box{{ test.id }}" name="tests[{{ t.id }}][selection]">
                                                                                                    <option value="" selected>Aucun</option>
                                                                                                    {% for s in selection %}
                                                                                                        {% if s.test == t %}
                                                                                                            <option value="{{ s.name }}">{{ s.name }}</option>
                                                                                                        {% endif %}
                                                                                                    {% endfor %}
                                                                                                </select>
                                                                                            </label>
                                                                                            {% endif %}
                                                                                    {% endfor %}
                                                                                            <span class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal{{ t.id }}"></span>
                                                                                    <div class="modal fade" id="myModal{{ t.id }}" role="dialog">
                                                                                        <div class="modal-dialog modal-lg">
                                                                                            <div class="modal-content">
                                                                                                <div class="modal-header">
                                                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                                    <h4 class="modal-title">Informations additionnelles</h4><small>{{ t.name }}</small>
                                                                                                </div>
                                                                                                <div class="modal-body">
                                                                                                    <textarea class="autoExpand form-control" rows="5" name="tests[{{ t.id }}][info]"></textarea>
                                                                                                </div>
                                                                                                <div class="modal-footer">
                                                                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    </div>

                                                                                {% set tmp = tmp+1 %}
                                                                          {% endif %}
                                                                        {% endfor %}
                                                                                    {% if tmp > 1 %}
                                                                                </div>
                                                                          {% endif %}
                                                                      </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                {% set i = i+1 %}
                                                {% endfor %}

                                        </div>

                                    </div>
                                        </div>
                                    <div id="dialog-info-test"></div>
                                    <div class="actionBar">
                                        <button type="submit" class="btn btn-success" name="submit" value="submitAudit">Soumettre</button>
                                    </div>
                            </div>

                    </div>
                            </form>

                    </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="../vendor/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
        <!-- iCheck -->
        <script src="../vendor/iCheck/icheck.min.js"></script>
        <script>
            $('.check-audit').iCheck({
                checkboxClass: 'icheckbox_flat-green'
            })

            $('#name-company').focusout(function(){
                var name = $(this).val();
                $('.name-company').html(name);
            })

        </script>

    {% endblock %}
