{% extends 'base.html.twig' %}


{% block title %}

    Nouvel audit

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="../vendor/iCheck/skins/flat/green.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-select/dist/css/bootstrap-select.css">
    <link href="../vendor/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/dropzone.css">
    <style>
        .myDropzone{
            border: #337ab7 dashed 1px;
            margin-top: 2%;
        }
        .ui-checkboxradio-label.ui-corner-all.ui-button.ui-widget.ui-checkboxradio-checked.ui-state-active {
            background: #1ABB9C;!important;
            color: white;

        }

                 .ui-checkboxradio-label.ui-corner-all.ui-button.ui-widget.ui-checkboxradio-checked.ui-state-active{
                     border: 2px solid lightgreen !important;
                 }

        .ui-button.ui-corner-all.ui-widget{
            background-color: whitesmoke;
            color: black;
        }


    </style>

{% endblock %}

{% block body %}

    {{ parent() }}
    <div class="right_col" role="main">

            <div class="row">
                <form class="form-horizontal form-label-left" method="post" action="../résultat-audit">

                <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" style="border: solid 1px lightgrey ; background-color: white; margin-bottom: 2%">
                    <h1 class="text-center" style="background-color: #26B99A; color: white; padding: 1%">Informations de la société</h1>

                    <div class="col-md-6">
                             <div class="input-group">
                                 <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                 <input type="text" id="name-company" class="form-control" name="name" placeholder="Nom de la société">
                             </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="email" class="form-control" name="email" placeholder="Email de la société">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                <input type="text" class="form-control" name="phone" placeholder="Téléphone de la société">
                            </div>
                                 <div class="col-md-4 col-xs-12">
                                     <select class="selectpicker" data-style="btn-success" title='Taille de la société' name="size">
                                         <option disabled selected>Taille de la société</option>
                                         {% for s in size %}
                                             <option><{{ s.max_size }}</option>
                                         {% endfor %}
                                     </select>
                                 </div>
                    </div>
                    <div class="small-container col-md-6" >
                        {% set i = 1 %}
                        {% for t in tests_infra %}
                            <div style="padding: 1%">
                               {{ i }}. {{ t.name }}</label><br>
                                <label for="radioPos{{ t.id }}">Oui</label>
                                <input type="radio" id="radioPos{{ t.id }}" class="radioBox" name="test[radio][{{ t.name }}]" value="pos" onchange="getInfraTest({{ t.id }})">
                                <label for="radioNeg{{ t.id }}">Non</label>
                                <input type="radio" id="radioNeg{{ t.id }}" class="radioBox" name="test[radio][{{ t.name }}]" value="neg" onchange="removeInfraTest({{ t.id }})" checked>
                            </div>
                            <br>
                            {% set i = i+1 %}
                        {% endfor %}
                    </div>
                </div>
                    <div class="x_panel">
                    <div class="clearfix"></div>
                                <div id="step-2">

                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                {% set i = 1 %}
                                                {% for phase in phases %}
                                                     {% if i == 1 %}
                                                        <li role="presentation" class="active"><a href="#tab_content{{ i }}" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ phase.phase_name }}</a>
                                                        </li>
                                                    {% else  %}
                                                        <li role="presentation" class=""><a href="#tab_content{{ i }}" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ phase.phase_name }}</a>
                                                        </li>
                                                        {% endif %}
                                                {% set i = i+1 %}
                                                {% endfor %}
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                {% set i = 1 %}
                                                {% for phase in phases %}

                                                {% if i == 1 %}
                                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content{{ i }}" aria-labelledby="home-tab">
                                                    {% else %}
                                                        <div role="tabpanel" class="tab-pane fade" id="tab_content{{ i }}" aria-labelledby="home-tab">
                                                    {% endif %}
                                                            <div class="container" >
                                                                <div class="row">
                                                            <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2" id="phase{{ phase.id }}" style="border: 1px solid; box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);">
                                                                    <div class="col-md-10 col-md-offset-1 ">
                                                                    <div id="audit-number" style="text-align: right">
                                                                    <h4>Audit n°{{ auditNumber }}</h4>
                                                                </div>
                                                                <div class="well well-md">
                                                                    <span style="display: block; text-align: center">Société:<h1 class="name-company"></h1></span>
                                                                </div>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                                <div class="page-header">
                                                                    <h2>{{ phase.phase_name }}</h2>
                                                                </div>

                                                                {% for test in tests %}
                                                                    {% if test.id_phase_id == phase.id and test.id_parent_id is null %}
                                                                      <div id="group-form{{ test.id }}" class="group-form-unchecked col-md-8 col-sm-8 col-xs-12" style="margin: 1%">
                                                                        <div class="form-group">
                                                                            {% for t in type %}
                                                                                {% if t.type == 'Question' and t.id == test.type_id %}
                                                                                    <label class="checkbox-inline" onclick="toggleClass({{ test.id }})">
                                                                                    <input type="checkbox" class="form-control check-audit" id="checkbox-audit{{ test.id }}" name="tests[{{ test.id }}][check]">{{ test.name }}</label>
                                                                                {% elseif t.type == 'Selection' and t.id == test.type_id %}
                                                                                    <label class="checkbox-inline" onclick="toggleClass({{ test.id }})">{{ test.name }}
                                                                                        <select class="form-control check-audit" id="checkbox-audit{{ test.id }}" name="tests[{{ test.id }}][selection]" >
                                                                                            <option value="" selected>Aucun</option>
                                                                                            {% for s in selection %}
                                                                                                 {% if s.test == test %}
                                                                                                    <option value="{{ s.name }}">{{ s.name }}</option>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                    </label>

                                                                                {% endif %}
                                                                            {% endfor %}
                                                                            <span class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal{{ test.id }}"></span>
                                                                            <div class="modal fade" id="myModal{{ test.id }}" role="dialog">
                                                                                <div class="modal-dialog modal-lg">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                            <h4 class="modal-title">Informations additionnelles</h4><small>{{ test.name }}</small>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <textarea class="autoExpand form-control" rows="5" name="tests[{{ test.id }}][info]"></textarea>
                                                                                            <h2 class="page-header">Ajouter des images</h2>
                                                                                            <div id="myDropzone{{ test.id }}" class="myDropzone dropzone">

                                                                                                    <div class="dz-message needsclick">
                                                                                                        <p style="color: darkgrey;"><i>Déposer ou clicker</i></p>
                                                                                                    </div>
                                                                                            </div>
                                                                                            <a class="btn btn-success btn-block" style="display: block; margin: auto; margin-top: 1%" onclick="uploadFile({{ test.id }},{{ auditNumber }})"><span class="fa fa-upload fa-10x" style="color: white; font-size: 100%"></span></a>

                                                                                        </div>
                                                                                        <div class="clearfix"></div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                          {% set tmp = 1 %}
                                                                          {% for t in tests %}
                                                                            {% if test.id == t.id_parent_id %}
                                                                                {% if tmp == 1 %}
                                                                                <div class="group-child col-md-offset-1" id="group-child{{ test.id }}">
                                                                                    {% endif %}

                                                                                <div class="form-group">
                                                                                    {% for ty in type %}
                                                                                        {% if ty.type == 'Question' and ty.id == t.type_id %}
                                                                                            <label class="checkbox-inline"><input type="checkbox" class="form-control check-audit box{{ test.id }}" name="tests[{{ t.id }}][check]">{{ t.name }}</label>
                                                                                        {% elseif ty.type == 'Selection' and ty.id == t.type_id %}
                                                                                            <label class="checkbox-inline">{{ t.name }}
                                                                                                <select class="form-control check-audit box{{ test.id }}" name="tests[{{ t.id }}][selection]">
                                                                                                    <option value="" selected>Aucun</option>
                                                                                                    {% for s in selection %}
                                                                                                        {% if s.test == t %}
                                                                                                            <option value="{{ s.name }}">{{ s.name }}</option>
                                                                                                        {% endif %}
                                                                                                    {% endfor %}
                                                                                                </select>
                                                                                            </label>
                                                                                            {% endif %}
                                                                                    {% endfor %}
                                                                                            <span class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal{{ t.id }}"></span>
                                                                                    <div class="modal fade" id="myModal{{ t.id }}" role="dialog">
                                                                                        <div class="modal-dialog modal-lg">
                                                                                            <div class="modal-content">
                                                                                                <div class="modal-header">
                                                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                                    <h4 class="modal-title">Informations additionnelles</h4><small>{{ t.name }}</small>
                                                                                                </div>
                                                                                                <div class="modal-body">
                                                                                                    <textarea class="autoExpand form-control" rows="5" name="tests[{{ t.id }}][info]"></textarea>
                                                                                                    <div id="myDropzone{{ t.id }}" class="myDropzone dropzone">

                                                                                                        <div class="dz-message needsclick">
                                                                                                            <p style="color: darkgrey;"><i>Déposer ou clicker</i></p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <a class="btn btn-success btn-block" style="display: block; margin: auto; margin-top: 1%" onclick="uploadFile({{ t.id }},{{ auditNumber }})"><span class="fa fa-upload fa-10x" style="color: white; font-size: 100%"></span></a>

                                                                                                </div>
                                                                                                <div class="modal-footer">
                                                                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    </div>

                                                                                {% set tmp = tmp+1 %}
                                                                          {% endif %}
                                                                        {% endfor %}
                                                                                    {% if tmp > 1 %}
                                                                                </div>
                                                                          {% endif %}
                                                                      </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                {% set i = i+1 %}
                                                {% endfor %}

                                        </div>

                                    </div>
                                        </div>
                                    <div id="dialog-info-test"></div>
                                    <div class="actionBar">
                                        <button type="submit" class="btn btn-success" name="submit" value="submitAudit">Soumettre</button>
                                    </div>
                            </div>

                    </div>
                            </form>

                    </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <!-- iCheck -->
        <script src="../vendor/iCheck/icheck.min.js"></script>
        <script type="text/javascript" src="../vendor/bootstrap-select/dist/js/bootstrap-select.js"></script>
        <script type="text/javascript" src="../js/dropzone.js"></script>
        <script src="../vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>

        <script>
            $('.check-audit').iCheck({
                checkboxClass: 'icheckbox_flat-green',
            });


            $('#name-company').focusout(function(){
                var name = $(this).val();
                $('.name-company').html(name);
            });
0
            $('.selectpicker').selectpicker();
            $(".myDropzone").dropzone({
                url: "/enregistrer-images",
                resizeWidth: 1280,
                acceptedFiles: 'image/*',
                dictInvalidFileType: 'Image uniquement',
                autoProcessQueue: false,
                addRemoveLinks: true,
                dictRemoveFile: 'Supprimer fichier',
                dictCancelUpload: 'Annuler le transfert'
            });

                $( ".radioBox" ).checkboxradio({
                    icon: false

                });

        </script>

    {% endblock %}
