{% extends 'base.html.twig' %}


{% block title %}

    Nouvel audit

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="../vendor/iCheck/skins/flat/green.css" rel="stylesheet">



{% endblock %}
{% block body %}

    {{ parent() }}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">


            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Créer un nouvel audit</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">


                            <!-- Smart Wizard -->
                            <div id="wizard" class="form_wizard wizard_horizontal">
                                <ul class="wizard_steps">
                                    <li>
                                        <a href="#step-1">
                                            <span class="step_no">1</span>
                                            <span class="step_descr">
                                              Etape 1<br />
                                              <small>Informations du client</small>
                                          </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-2">
                                            <span class="step_no">2</span>
                                            <span class="step_descr">
                                              Auditer<br />
                                              <small>Auditer</small>
                                          </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-3">
                                            <span class="step_no">3</span>
                                            <span class="step_descr">
                                              Résultats<br />
                                              <small>Résulats</small>
                                          </span>
                                        </a>
                                    </li>
                                </ul>
                                <div id="step-1">
                                    <form class="form-horizontal form-label-left">

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nom de la société <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="name-company" required="required" class="form-control col-md-7 col-xs-12 info-company">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Téléphone de la société <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="phone-company" name="phone-company" required="required" class="form-control col-md-7 col-xs-12 info-company">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email de la société<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="email-company" required="required" class="form-control col-md-7 col-xs-12 info-company" type="email" name="middle-name">
                                            </div>
                                        </div>


                                    </form>

                                </div>
                                <div id="step-2">

                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                {% set i = 1 %}
                                                {% for phase in phases %}
                                                     {% if i == 1 %}
                                                        <li role="presentation" class="active"><a href="#tab_content{{ i }}" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ phase.phase_name }}</a>
                                                        </li>
                                                    {% else  %}
                                                        <li role="presentation" class=""><a href="#tab_content{{ i }}" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ phase.phase_name }}</a>
                                                        </li>
                                                        {% endif %}
                                                {% set i = i+1 %}
                                                {% endfor %}
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                {% set i = 1 %}
                                                {% for phase in phases %}

                                                {% if i == 1 %}
                                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content{{ i }}" aria-labelledby="home-tab">
                                                    {% else %}
                                                        <div role="tabpanel" class="tab-pane fade" id="tab_content{{ i }}" aria-labelledby="home-tab">
                                                    {% endif %}
                                                            <div class="container">
                                                                <div class="row">
                                                            <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1">

                                                            <div class="panel panel-primary shadow">
                                                                <div class="panel-heading"><h3>Subsection</h3></div>
                                                                <div class="panel-body">
                                                                    <form>

                                                                {% for test in tests %}
                                                                    {% if test.idPhase.id == phase.id and test.id_parent is null%}
                                                                      <div id="group-form{{ test.id }}" class="group-form-unchecked col-md-8 col-sm-8 col-xs-12" style="margin: 1%">
                                                                        <div class="form-group">

                                                                            <label class="checkbox-inline" onclick="toggleClass({{ test.id }})"><input type="checkbox" class="form-control check-audit" id="checkbox-audit{{ test.id }}" name="{{ test.id }}">{{ test.name }}</label>
                                                                        </div>
                                                                          <div class="group-child col-md-offset-1" id="group-child{{ test.id }}">
                                                                          {% for t in tests %}
                                                                            {% if test == t.id_parent %}
                                                                                    <div class="form-group">
                                                                                        <label class="checkbox-inline"><input type="checkbox" class="form-control check-audit box{{ test.id }}" name="{{ t.id }}">{{ t.name }}</label>
                                                                                    </div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                      </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                {% set i = i+1 %}
                                                {% endfor %}

                                        </div>

                                    </div>
                                        </div>


                                <div id="step-3">
                                    <a href="#" name="../résultat-audit" id="save-audit" onclick="saveAudit(this.name)" >Enregistrer l'audit et passer au résultat?</a>
                                </div>
                            </div>
                            <!-- End SmartWizard Content -->
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="../vendor/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
        <script src="../js/custom_audit_table.js"></script>
        <!-- iCheck -->
        <script src="../vendor/iCheck/icheck.min.js"></script>
        <script>
            $('.check-audit').iCheck({
                checkboxClass: 'icheckbox_flat-green'
            })
        </script>

    {% endblock %}
