{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Datatables -->
    {{ parent() }}

    <link href="../vendor/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">
    <link href="../css/input_custom.css" rel="stylesheet">





{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="right_col" role="main">
    <div class="container" style="background-color: white; border-radius: 1%; padding: 1%">
        <form method="post" action="../administration-audit?id={{ phase.id }}" class="">
        <div class="row">
            <div class="form-group col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <h3 class="col-xs-offset-3 col-md-offset-4" >Intitulé de la phase</h3>
                <input type="text" id="first-name" required="required" class="form-control col-md-6 col-xs-12" name="name_phase" value="{{ phase.phase_name }}">
            </div>
        </div>
    <div class="row">
        <div class="table-responsive col-md-12 col-sm-12">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th class="text-center">
                    Test
                </th>
                <th class="text-center">
                    Type
                </th>
                <th class="text-center">
                    Priorité
                </th>
                <th class="text-center">
                    Famille
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody class="sortable">
            {% set i = 1 %}
            {% if tests is empty %}
            <tr>
                <td>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="test_phase[1][parent]" class="input_test" placeholder="Ajouter un test" required>
                        <div class="bar"></div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" name="test_phase[1][type]" id="sel1">
                            {% for t in type %}
                                <option>{{ t.type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" name="test_phase[1][prio]" id="sel1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="input-group col-md-6 col-sm-6 col-xs-12">
                        <span class="input-group-addon"><a  class="glyphicon glyphicon-minus remove-child" style=" pointer-events: none;cursor: default;"></a></span>
                        <input type="text" name="test_phase[1][child][1][name]" class="input_test" placeholder="Ajouter un test enfant">
                        <div class="bar"></div>
                        <span class="input-group-addon"><a href="#" class="glyphicon glyphicon-plus add-child" i="1"></a></span>
                        <div class="input-group-addon ">
                            <select name="test_phase[1][child][1][type]" id="sel1">
                                {% for t in type %}
                                    <option>{{ t.type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group-addon">
                            <select name="test_phase[1][child][1][prio]" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="#" class="add-row"><span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </tr>
            {% endif %}
            {% for test in tests %}
            {% if test.id_parent is null %}
                <tr>
                <td>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <input type="hidden" name="test_phase[{{ i }}][id]" class="input_test" value="{{ test.id }}" placeholder="Ajouter un test" required>
                        <input type="text" name="test_phase[{{ i }}][parent]" class="input_test" value="{{ test.name }}" placeholder="Ajouter un test" required>
                        <div class="bar"></div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" name="test_phase[{{ i }}][type]" id="sel1">
                            {% for t in type %}
                                {% if t == test.type  %}
                                 <option  selected >{{ t.type }}</option>
                                {% else %}
                                    <option>{{ t.type }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" name="test_phase[{{ i }}][prio]" id="sel1">
                            <option {% if test.priority ==  1%} {{ 'selected' }} {% endif %}>1</option>
                            <option {% if test.priority ==  2%} {{ 'selected' }} {% endif %}>2</option>
                            <option {% if test.priority ==  3%} {{ 'selected' }} {% endif %}>3</option>
                        </select>
                    </div>
                </td>
                <td>
                    {% set j = 1 %}
                    {% for child in tests %}
                    {% if child.id_parent == test %}
                    <div class="input-group col-md-6 col-sm-6 col-xs-12">
                        <input type="hidden" name="test_phase[{{ i }}][child][{{ j }}][id]" class="input_test" value="{{ child.id }}" placeholder="Ajouter un test" required>
                        <span class="input-group-addon"><a  class="glyphicon glyphicon-minus" data-toggle="modal" data-target="#myModal{{ child.id }}" id="{{ child.id }}"></a></span>
                        <input type="text" name="test_phase[{{ i }}][child][{{ j }}][name]" class="input_test" value="{{ child.name }}" placeholder="Ajouter un test enfant">
                        <div class="bar"></div>
                        <span class="input-group-addon"><a href="#" class="glyphicon glyphicon-plus add-child" i="{{ i }}" j="{{ j }}"></a></span>
                        <div class="input-group-addon ">
                            <select name="test_phase[{{ i }}][child][{{ j }}][type]" id="sel1">
                                {% for t in type %}
                                    {% if t == child.type  %}
                                        <option  selected >{{ t.type }}</option>
                                    {% else %}
                                        <option>{{ t.type }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group-addon">
                            <select name="test_phase[{{ i }}][child][{{ j }}][prio]" id="sel1">
                                <option {% if child.priority ==  1%} {{ 'selected' }} {% endif %}>1</option>
                                <option {% if child.priority ==  2%} {{ 'selected' }} {% endif %}>2</option>
                                <option {% if child.priority ==  3%} {{ 'selected' }} {% endif %}>3</option>
                            </select>
                        </div>
                    </div>
                        <!-- Modal -->
                        <div id="myModal{{ child.id }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ child.name }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Voulez-vous supprimer ce test?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="deleteTest({{ child.id }},'.input-group')" class="btn btn-primary">Oui</button>
                                        <button type="button"  class="btn btn-default close-modal" data-dismiss="modal">Non</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% set j = j+1 %}
                    {% endif %}
                    {% endfor %}
                    <div class="input-group col-md-6 col-sm-6 col-xs-12">
                        <span class="input-group-addon"><a  class="glyphicon glyphicon-minus remove-child" style=" pointer-events: none;cursor: default;"></a></span>
                        <input type="text" name="test_phase[{{ i }}][child][{{ j }}][name]" class="input_test" value="" placeholder="Ajouter un test enfant">
                        <div class="bar"></div>
                        <span class="input-group-addon"><a href="#" class="glyphicon glyphicon-plus add-child" i="{{ i }}" j="{{ j }}"></a></span>
                        <div class="input-group-addon ">
                            <select name="test_phase[{{ i }}][child][{{ j }}][type]" id="sel1">
                                {% for t in type %}
                                        <option>{{ t.type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group-addon">
                            <select name="test_phase[{{ i }}][child][{{ j }}][prio]">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#myModal{{ test.id }}" id="{{ test.id }}"><span class="glyphicon glyphicon-minus"></span></a><a href="#" class="add-row" i="{{ i }}"><span class="glyphicon glyphicon-plus"></span></a>
                </td>
                  <!-- Modal -->
                                    <div id="myModal{{ test.id }}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">{{ test.name }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Voulez-vous supprimer ce test?</h5>
                                    <p class=" alert alert-danger">Attention, supprimer ce test supprimer également ses tests enfants!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="deleteTest({{ test.id }},'tr')" class="btn btn-primary">Oui</button>
                                    <button type="button"  class="btn btn-default close-modal" data-dismiss="modal">Non</button>
                                </div>
                            </div>

                        </div>
                    </div>
            </tr>


                {% set i = i+1 %}
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

        <div class="actionBar">
            <button type="submit" class="btn btn-success" name="submit" value="submitModifPhase">Soumettre</button>
        </div>
    </form>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="../vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>

<script>
    var i = 1;
        $('a.add-row').each(function () {
            attr= $(this).attr('i')
            if (attr>i){
                i = attr;
            }
    })
    $('body').on('click', 'a.add-row', function() {
        i++;
        tmp = 1;
        var html = '<tr>\n' +
            '                                                                                <td>\n' +
            '                                                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">\n' +
            '                                                                                        <input type="text" name="test_phase['+i+'][parent]" class="input_test" placeholder="Ajouter un test" required>\n' +
            '                                                                                        <div class="bar"></div>\n' +
            '                                                                                    </div>\n' +
            '                                                                                </td>\n' +
            '                                                                                <td>\n' +
            '                                                                                    <div class="form-group">\n' +
            '                                                                                        <select class="form-control" name="test_phase['+i+'][type]" id="sel1">\n' +
            '                                                                                            {% for t in type %}\n' +
            '                                                                                                <option>{{ t.type }}</option>\n' +
            '                                                                                            {% endfor %}\n' +
            '                                                                                        </select>\n' +
            '                                                                                    </div>\n' +
            '                                                                                </td>\n' +
            '                                                                                <td>\n' +
            '                                                                                    <div class="form-group">\n' +
            '                                                                                        <select class="form-control" name="test_phase['+i+'][prio]" id="sel1">\n' +
            '                                                                                            <option>1</option>\n' +
            '                                                                                            <option>2</option>\n' +
            '                                                                                            <option>3</option>\n' +
            '                                                                                        </select>\n' +
            '                                                                                    </div>\n' +
            '                                                                                </td>\n' +
            '                                                                                <td>\n' +
            '                                                                                    <div class="input-group col-md-6 col-sm-6 col-xs-12">\n' +
            '                                                                                        <span class="input-group-addon"><a  class="glyphicon glyphicon-minus remove-child" style=" pointer-events: none;cursor: default;"></a></span>\n' +
            '                                                                                        <input type="text" name="test_phase['+i+'][child]['+tmp+'][name]" class="input_test" placeholder="Ajouter un test enfant">\n' +
            '                                                                                        <div class="bar"></div>\n' +
            '                                                                                        <span class="input-group-addon"><a href="#" class="glyphicon glyphicon-plus add-child" i='+i+' j='+tmp+'"></a></span>\n' +
            '                                                                                        <div class="input-group-addon ">\n' +
            '                                                                                            <select name="test_phase['+i+'][child]['+tmp+'][type]" id="sel1">\n' +
            '                                                                                                {% for t in type %}\n' +
            '                                                                                                    <option>{{ t.type }}</option>\n' +
            '                                                                                                {% endfor %}\n' +
            '                                                                                            </select>\n' +
            '                                                                                        </div>\n' +
            '                                                                                        <div class="input-group-addon">\n' +
            '                                                                                            <select name="test_phase['+i+'][child]['+tmp+'][prio]" id="sel1">\n' +
            '                                                                                                <option>1</option>\n' +
            '                                                                                                <option>2</option>\n' +
            '                                                                                                <option>3</option>\n' +
            '                                                                                            </select>\n' +
            '                                                                                        </div>\n' +
            '                                                                                    </div>\n' +
            '                                                                                </td>\n' +
            '                                                                                <td>\n' +
            '                                                                                    <a href="#" class="remove-row"><span class="glyphicon glyphicon-minus"></span></a><a href="#" class="add-row"><span class="glyphicon glyphicon-plus"></span></a>\n\n' +
            '                                                                                </td>\n' +
            '                                                                            </tr>'
        $(this).closest('tr').after(html);
    })

    $('body').on('click', 'a.remove-row', function() {

        $(this).closest('tr').remove();
    })

    $('body').on('click', 'a.add-child', function() {
        var j = 1;
        $('.add-child').each(function () {
            attr= $(this).attr('j')
            if (j<attr){
                j = attr;
            }
        })
        j++;
        var id = $(this).attr('i');
        $(this).closest('td').append(' <div class="input-group col-md-6 col-sm-6 col-xs-12">\n' +
            '                                                                                        <span class="input-group-addon"><a  class="glyphicon glyphicon-minus remove-child"></a></span>\n' +
            '                                                                                        <input type="text" name="test_phase['+id+'][child]['+j+'][name]" class="input_test" placeholder="Ajouter un test enfant">\n' +
            '                                                                                        <div class="bar"></div>\n' +
            '                                                                                        <span class="input-group-addon"><a href="#" class="glyphicon glyphicon-plus add-child" i="'+id+'" j="'+j+'"></a></span>\n' +
            '                                                                                        <div class="input-group-addon ">\n' +
            '                                                                                            <select name="test_phase['+id+'][child]['+j+'][type]">\n' +
            '                                                                                                {% for t in type %}\n' +
            '                                                                                                    <option>{{ t.type }}</option>\n' +
            '                                                                                                {% endfor %}\n' +
            '                                                                                            </select>\n' +
            '                                                                                        </div>\n' +
            '                                                                                        <div class="input-group-addon">\n' +
            '                                                                                            <select name="test_phase['+id+'][child]['+j+'][prio]">\n' +
            '                                                                                                <option>1</option>\n' +
            '                                                                                                <option>2</option>\n' +
            '                                                                                                <option>3</option>\n' +
            '                                                                                            </select>\n' +
            '                                                                                        </div>\n' +
            '                                                                                    </div>')
    })

    $('body').on('click', 'a.remove-child', function() {
        $(this).closest('div.input-group').remove();
    })
</script>
{% endblock %}