<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title></title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="../vendor/sweet-alert/dist/sweetalert2.css" rel="stylesheet">
    <link href="../css/audit/audit.css" rel="stylesheet" />

    <!-- CSS Files -->
    <link href="../css/material-dashboard.css?v=2.1.0" rel="stylesheet" />

</head>
<body>
<div class="content">
    <div class="container-fluid col-md-9">

        <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            {% for section in sections %}
                                {% if section.auditSubSections is not empty %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#{{ section.section }}" data-toggle="tab">
                                            <p class="adm-link">{{ section.section }}</p>
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    {% for s in sections %}
                        <div class="tab-pane" id="{{ s.section }}">
                            <div class="row">
                                <div class="col-md-9"></div>
                                <div class="col-md-1">
                                    <a class="alert alert-default" href="../" data-toggle="tooltip" data-placement="top" title="Mettre l'audit en pause" ><i id="pause-button" class="material-icons" >pause_circle_filled</i></a>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-secondary">
                                        <a href="../" style="color: black">Passer au rapport!</a>
                                    </button>
                                </div>
                            </div>

                            {% for sub in s.auditSubSections %}
                                {% if sub.auditTests is not empty %}
                                <h3>{{ sub.subsection }}</h3>
                                <div class="row">
                                    <div class="col-md-4 text-center">Test</div>
                                    <div class="col-md-2 text-center header">Réponse</div>
                                    <div class="col-md-4 text-center header">Commentaire</div>
                                </div>
                                {% for t in tests %}
                                    {% if t.test.susbection == sub and t.test.type.type == 'Question'%}
                                        <div id="test{{ t.id }}" class="row">
                                            <div class="col-md-4 comment">
                                                <span>{{ t.test.test }}</span>
                                            </div>
                                            <div class="col-md-2 status">
                                                <div id="status{{ t.id }}" class="selection-fail select">
                                                    <div class="btn-group">
                                            <span id="change-status{{ t.id }}" style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                échec
                                            </span>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <span class="dropdown-item selection-choice selection-fail status">échec</span>
                                                            <span class="dropdown-item selection-choice selection-error status">passe avec erreurs</span>
                                                            <span class="dropdown-item selection-choice selection-success status">passe</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 comment">
                                                <span class="editable new-comment">Ajouter un commentaire</span>
                                            </div>
                                        </div>
                                    {% elseif  t.test.susbection == sub and t.test.type.type == 'Selection' %}
                                        <div id="test{{ t.id }}" class="row">
                                            <div class="col-md-4 comment">
                                                <span>{{ t.test.test }}</span>
                                            </div>
                                            <div class="col-md-2 status">
                                                <div id="status{{ t.id }}" class="select">
                                                    <select class="browser-default custom-select">
                                                        <option selected disabled>Choisir</option>

                                                        {% for s in t.test.Selections %}
                                                            <option value="1">{{ s.selection }}</option>
                                                        {% endfor %}
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-4 comment">
                                                <span class="editable new-comment">Ajouter un commentaire</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script src="../js/core/jquery.min.js" type="text/javascript"></script>
<script src="../js/core/popper.min.js" type="text/javascript"></script>
<script src="../js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/audit/audit.js"></script>