<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title></title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="../vendor/sweet-alert/dist/sweetalert2.css" rel="stylesheet">
    <link href="../css/audit/audit.css" rel="stylesheet" />

    <!-- CSS Files -->
    <link href="../css/material-dashboard.css?v=2.1.0" rel="stylesheet" />

</head>
<body>
{% set indexsub = 0 %}
{% set indextest = 0 %}
<div id="audit{{ audit }}" class="content">
    <div class="container-fluid col-md-9">

        <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            {% for section in sections %}
                                {% if section.auditSubSections is not empty %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#{{ section.section }}" data-toggle="tab">
                                            <p class="adm-link">{{ section.section }}</p>
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    {% for s in sections %}
                    <div class="tab-pane" id="{{ s.section }}">
                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-1">
                                <a class="alert alert-default" href="../" data-toggle="tooltip" data-placement="top" title="Mettre l'audit en pause" ><i id="pause-button" class="material-icons" >pause_circle_filled</i></a>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-secondary">
                                   <a href="../" style="color: black">Passer au rapport!</a>
                                </button>
                            </div>
                        </div>
                        {% set i = 0 %}
                        {% for sub in s.auditSubSections %}
                        {% if sub.auditTests is not empty %}
                            {% set i = i+1 %}
                            {% set j =0 %}
                        <h3>{{ i }}.{{  sub.subsection }}</h3>
                            <div class="row">
                                <div class="col-md-4 text-center">Test</div>
                                <div class="col-md-2 text-center header">Réponse</div>
                                <div class="col-md-4 text-center header">Commentaire</div>
                            </div>
                            {% for t in tests %}
                                {% if t.test.susbection == sub and t.test.type.type == 'Question' and t.test.parent is null%}
                                    {% set j = j+1 %}
                                    {% if last_response is defined and last_response.test.test == t.test.test and last_response.test.susbection == t.test.susbection %}
                                        {% set indextest = j %}
                                        {% set indexsub = i %}
                                    {% endif %}
                                    <div id="test{{ t.id }}" class="row">
                                       <div class="col-md-4 comment">
                                           <span>{{ j }}.{{ t.test.test }}</span>
                                       </div>
                                       <div class="col-md-2 status">
                                    <div id="status{{ t.id }}" class="{% if t.status.status == 'fail' %}selection-fail{% elseif t.status.status == 'error' %}selection-error{% elseif t.status.status == 'success' %}selection-success{% endif %} select">
                                        <div class="btn-group">
                                            <span id="change-status{{ t.id }}" style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {% if t.status.status == 'fail' %}
                                                    échec
                                                {% elseif t.status.status == 'error' %}
                                                    passe avec erreurs
                                                {% elseif t.status.status == 'success' %}
                                                   succès
                                                {% endif %}
                                            </span>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <span class="dropdown-item selection-choice selection-fail status">échec</span>
                                                <span class="dropdown-item selection-choice selection-error status">passe avec erreurs</span>
                                                <span class="dropdown-item selection-choice selection-success status">passe</span>
                                            </div>
                                        </div>
                                    </div>
                                       </div>
                                       <div class="col-md-4 comment">
                                           {% if t.comment is null %}
                                           <span class="editable new-comment">Ajouter un commentaire</span>
                                           {% else %}
                                               <span class="editable">{{ t.comment }}</span>
                                            {% endif %}
                                       </div>
                                   </div>

                                    <div id="group-childs{{ t.id }}">
                                       {% for child in tests %}
                                             {% if child.test.parent == t.test and t.status.status != 'fail' %}
                                                 <div id="child{{ child.id }}" class="row child child-row">
                                                     <div class="col-md-4 child-col">
                                                         <span style="margin-left: 2%">{{ child.test.test }}</span>
                                                     </div>
                                                     <div class="col-md-2 status">
                                                         <div id="status{{ child.id }}" class="{% if child.status.status == 'fail' %}selection-fail{% elseif child.status.status == 'error' %}selection-error{% elseif child.status.status == 'success' %}selection-success{% endif %} select">
                                                             <div class="btn-group">
                                            <span style="cursor:pointer" class="dropdown-toggle" id="change-status{{ child.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                   {% if child.status.status == 'fail' %}
                                                       échec
                                                   {% elseif child.status.status == 'error' %}
                                                       passe avec erreurs
                                                   {% elseif child.status.status == 'success' %}
                                                       succès
                                                   {% endif %}
                                            </span>
                                                                 <div class="dropdown-menu dropdown-menu-right">
                                                                     <span class="dropdown-item selection-choice selection-fail status child">échec</span>
                                                                     <span class="dropdown-item selection-choice selection-error status child">passe avec erreurs</span>
                                                                     <span class="dropdown-item selection-choice selection-success status child">passe</span>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4 comment">
                                                         {% if child.comment is null %}
                                                             <span class="editable new-comment child">Ajouter un commentaire</span>
                                                         {% else %}
                                                             <span class="editable child">{{ child.comment }}</span>
                                                         {% endif %}
                                                     </div>
                                                 </div>
                                             {% endif %}
                                        {% endfor %}
                                       </div>
                                   {% elseif  t.test.susbection == sub and t.test.type.type == 'Selection' %}
                                       {% set j = j+1 %}

                                       <div id="test{{ t.id }}" class="row">
                                           <div class="col-md-4 comment">
                                               <span>{{ j }}.{{ t.test.test }}</span>
                                           </div>
                                           <div class="col-md-2 status">
                                               <div id="status{{ t.id }}" class="select">
                                                   <select class="browser-default custom-select">
                                                   {% if t.selection is null %}
                                                       <option selected disabled="">Choisir</option>
                                                   {% endif %}

                                                       {% for s in t.test.Selections %}
                                                       {% if t.selection is not null and t.selection == s %}
                                                           <option selected>{{ s.selection }}</option>
                                                           {% else %}
                                                           <option>{{ s.selection }}</option>
                                                           {% endif %}
                                                   {% endfor %}
                                                   </select>

                                               </div>
                                           </div>
                                           <div class="col-md-4 comment">
                                               <span class="editable new-comment">Ajouter un commentaire</span>
                                           </div>
                                       </div>

                                {% endif %}

                            {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script src="../js/core/jquery.min.js" type="text/javascript"></script>
<script src="../js/core/popper.min.js" type="text/javascript"></script>
<script src="../js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../vendor/sweet-alert/dist/sweetalert2.js"></script>
<script src="../js/audit/audit.js"></script>
<script>
    {% if last_response is defined %}
    Swal({
        type: 'info',
        title: 'Dernier test modifié:',
        html:
        '<h2>{{ last_response.test.susbection.section.section }}</h2><div class="clearfix></div><h3><span style="font-weight:bold">{% if indextest is defined %}{{ indexsub }}.{{ indextest }}{% endif %}</span> {{ last_response.test.test }}</h3>'
        })
    {% endif %}
</script>