{% extends 'base.html.twig' %}

{% block title %}
    Résultat
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="../vendor/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">
    <link href="../vendor/iCheck/skins/flat/green.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-select/dist/css/bootstrap-select.css">

{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="right_col" role="main">

        <div class="container">

            <div class="row row-container col-md-10">
                <div class="col-md-4 col-md-offset-8" >

                    <div class="well">
                        <h2>Audit n°{{ auditNumber }}</h2>
                    </div>
                </div>
                <div class="col-md-4" id="informations-company">
                    <div class="row">
                        <h1 class="col-md-offset-1">
                            {{ name_company }}</h1>
                    </div>
                    <div class="row">
                        <span class="glyphicon glyphicon-phone"></span>
                        <span>{{ phone_company }}</span>
                    </div>
                    <div class="row">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span>{{ email_company }}</span>
                    </div>
                    <div class="row">
                        <span class="glyphicon glyphicon-user"></span>
                        <span>{{ size_company }} personnes</span>
                        <input type="hidden" name="size" id="size-company" value="{{ size_company }}">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-8">
                <table class=" table table-hover">
                    <thead>
                        <tr>
                            <th>Priorité</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="">
                            <td>Haute</td>
                            <td><div class="progress">
                                    <div class="progress-bar bg-{% if avg_prio1 < 35 %}red{% elseif avg_prio1 < 60%}orange{% else %}green{% endif %}" role="progressbar" data-transitiongoal="{{ avg_prio1 }}" aria-valuenow="56">
                                        <small>{{ avg_prio1 }}%</small>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Moyenne</td>
                            <td><div class="progress">
                                    <div class="progress-bar bg-{% if avg_prio2 < 35 %}red{% elseif avg_prio2 < 60%}orange{% else %}green{% endif %}" role="progressbar" data-transitiongoal="{{ avg_prio2 }}" aria-valuenow="56">
                                        <small>{{ avg_prio2 }}%</small>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="">
                            <td>Faible</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-{% if avg_prio3 < 35 %}red{% elseif avg_prio3 < 60%}orange{% else %}green{% endif %}" role="progressbar" data-transitiongoal="{{ avg_prio3 }}" aria-valuenow="56">
                                        <small>{{ avg_prio3 }}%</small>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>

                <div class="col-md-4 jumbotron text-center">
                   <h2 class="">
                       Score obtenu:
                   </h2>
                    <h1>
                        {{ avg }}%
                    </h1>
                </div>
                <div class="clearfix"></div>
                <h1 class="page-header">Tests négatifs</h1>
                <div class="row">
                    <h1 class="danger col-md-12">Danger</h1>
                    <div class="clearfix"></div>
                    <div id="accordion">
                        <h3 class="text-center">Récapitulatif</h3>
                        <div class="row">
                            <div id="container-solution" class="col-md-8">
                                <h4 class="page-header">Solutions</h4>
                            </div>
                            <div class="col-md-4">
                                <div class="jumbotron"><h5>Estimation:</h5></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="actionBar">
                                <button type="submit" class="btn btn-success" name="submit" value="confirmAudit">Confirmer</button>
                            </div>
                        </div>
                    </div>
                    {% for phase in phases %}
                    <div class="col-md-8" id="phase-prio1">
                    <h2 class="col-md-10">
                        <span class="glyphicon glyphicon-{{ phase.glyphicon }}"></span>
                        {{ phase.phase_name }}
                    </h2>
                        {% set i = 0 %}

                        {% if prio1 is defined %}
                        <div class="col-md-12">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                                {% for test in prio1 %}
                                    {% if test.idPhase == phase %}
                                        {% set i = i+1 %}
                                        <tr>
                                        <td><input type="checkbox" class="check-audit" value="{{ test.id }}"/>{{ test.name }}<span class="fa fa-warning" style="color: indianred"></span></td>
                                    </tr>
                                        {% else %}
                                    {% endif %}
                                {% endfor %}

                            </tbody>
                        </table>
                        </div>
                        <div class="clearfix"></div>
                    {% endif %}
                        <div class="clearfix"></div>

                        {% if i == 0 %}
                            <span class ="fa fa-check" style="color: limegreen"></span>Rien à signaler
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
                <div class="row">
                    <h1 class="warning col-md-10" >Menaces potentielles</h1>
                    <div class="clearfix"></div>

                    {% for phase in phases %}
                        <div class="col-md-8" id="phase-prio2">
                        <h2 class="col-md-10">
                            <span class="glyphicon glyphicon-{{ phase.glyphicon }}"></span>
                            {{ phase.phase_name }}
                        </h2>
                            {% set i = 0 %}

                            {% if prio2 is defined %}
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>

                                    </thead>
                                    <tbody>
                                    {% for test in prio2 %}
                                        {% if test.idPhase == phase %}
                                            {% set i = i+1 %}

                                            <tr>
                                                <td><input type="checkbox" class="check-audit">{{ test.name }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                            {% endif %}
                            <div class="clearfix"></div>

                            {% if i == 0 %}
                                <span class ="fa fa-check" style="color: limegreen"></span>Rien à signaler
                            {% endif %}
                       </div>
                            {% endfor %}

                            </div>
                <div class="row">
                    <h1 class="watch col-md-8" >A surveiller</h1>
                    <div class="clearfix"></div>

                    {% for phase in phases %}
                        <div class="col-md-8" id="phase-prio3">

                        <h2 class="col-md-10">
                            <span class="glyphicon glyphicon-{{ phase.glyphicon }}"></span>
                            {{ phase.phase_name }}
                        </h2>
                            {% set i = 0 %}

                            {% if prio3 is defined %}
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>

                                    </thead>
                                    <tbody>

                                    {% for test in prio3 %}
                                        {% if test.idPhase == phase %}
                                            {% set i = i+1 %}
                                            <tr>
                                                <td><input type="checkbox" class="check-audit">{{ test.name }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                            <div class="clearfix"></div>

                            {% if i == 0 %}
                                <span class ="fa fa-check" style="color: limegreen"></span>Rien à signaler
                            {% endif %}
                     </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div id="test"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="../vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>

    <!-- iCheck -->
    <script src="../vendor/iCheck/icheck.min.js"></script>
    <script>
            $('#accordion').affix({offset: {top: 800} });
            $('#accordion').on('affix.bs.affix', function(){
                $(this).css('visibility','visible');
            });
            $('#accordion').on('affix-top.bs.affix', function(){
                $(this).css('visibility','hidden');
                $(this).accordion({
                    active: false
                });
            });
            $("#accordion").accordion({
                collapsible: true,
                heightStyle: "content",
                active: false
            });




    </script>

{% endblock %}