{% extends 'base.html.twig' %}

{% block title %}
    Résultat
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="right_col" role="main">

        <div class="container">
            <div class="row row-container col-md-10 col-md-offset-2" style="border: 1px solid; background-color: white">
                <div class="col-md-4 col-md-offset-8" >

                    <div class="well">
                        <h2>Audit n°{{ auditNumber }}</h2>
                    </div>
                </div>
                <div class="col-md-4" id="informations-company">
                    <div class="row">
                        <h1 class="col-md-offset-1">
                            {{ name_company }}</h1>
                    </div>
                    <div class="row">
                        <span class="glyphicon glyphicon-phone"></span>
                        <span>{{ phone_company }}</span>
                    </div>
                    <div class="row">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span>{{ email_company }}</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-8">
                <table class=" table table-hover">
                    <thead>
                        <tr>
                            <th>Priorité</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="">
                            <td>Haute</td>
                            <td><div class="progress">
                                    <div class="progress-bar bg-{% if avg_prio1 < 35 %}red{% elseif avg_prio1 < 60%}orange{% else %}green{% endif %}" role="progressbar" data-transitiongoal="{{ avg_prio1 }}" aria-valuenow="56">
                                        <small>{{ avg_prio1 }}%</small>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="background-color: whitesmoke;">
                            <td>Moyenne</td>
                            <td><div class="progress">
                                    <div class="progress-bar bg-{% if avg_prio2 < 35 %}red{% elseif avg_prio2 < 60%}orange{% else %}green{% endif %}" role="progressbar" data-transitiongoal="{{ avg_prio2 }}" aria-valuenow="56">
                                        <small>{{ avg_prio2 }}%</small>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="">
                            <td>Faible</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-{% if avg_prio3 < 35 %}red{% elseif avg_prio3 < 60%}orange{% else %}green{% endif %}" role="progressbar" data-transitiongoal="{{ avg_prio3 }}" aria-valuenow="56">
                                        <small>{{ avg_prio3 }}%</small>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>

                <div class="col-md-4 jumbotron text-center">
                   <h2 class="">
                       Moyenne
                   </h2>
                    <h1>
                        {{ avg }}%
                    </h1>
                </div>
                <div class="clearfix"></div>
                <h1 class="page-header">Récapitulatif</h1>
                <div class="row">
                    <h1 class="danger col-md-10">Danger</h1>
                {% for phase in phases %}
                    <h2 class="col-md-10">
                        <span class="glyphicon glyphicon-{{ phase.glyphicon }}"></span>
                        {{ phase.phase_name }}
                    </h2>
                    {% if prio1 is defined %}
                        <div class="col-md-6">
                        <table class="table table-hover">
                            <thead>

                            </thead>
                            <tbody>
                                {% for test in prio1 %}
                                    {% if test.idPhase == phase %}

                                        <tr>
                                        <td><span class="fa fa-warning" style="color: indianred"></span>{{ test.name }}</td>
                                    </tr>
                                        {% else %}
                                    {% endif %}
                                {% endfor %}
                                <tr></tr>
                            </tbody>
                        </table>
                        </div>
                    {% endif %}
                    {% endfor %}

                </div>
                <div class="row">
                    <h1 class="warning col-md-10" >Menaces potentielles</h1>
                    {% for phase in phases %}
                        <h2 class="col-md-10">
                            <span class="glyphicon glyphicon-{{ phase.glyphicon }}"></span>
                            {{ phase.phase_name }}
                        </h2>
                        {% if prio2 is defined %}
                            <div class="col-md-6">
                                <table class="table table-hover">
                                    <thead>

                                    </thead>
                                    <tbody>
                                    {% for test in prio2 %}
                                        {% if test.idPhase == phase %}

                                            <tr>
                                                <td>{{ test.name }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                            {% endif %}
                            {% endfor %}
                            </div>
                <div class="row">
                    <h1 class="watch col-md-10" >A surveiller</h1>
                    {% for phase in phases %}
                        <h2 class="col-md-10">
                            <span class="glyphicon glyphicon-{{ phase.glyphicon }}"></span>
                            {{ phase.phase_name }}
                        </h2>
                        {% if prio3 is defined %}
                            <div class="col-md-6">
                                <table class="table table-hover">
                                    <thead>

                                    </thead>
                                    <tbody>
                                    {% for test in prio3 %}
                                        {% if test.idPhase == phase %}

                                            <tr>
                                                <td>{{ test.name }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}