{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                {% for c in company %}

                <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                    <div class="x_panel fixed_height_390">
                                        <div class="x_content">

                                            <div class="flex">
                                                <ul class="list-inline widget_profile_box">
                                                    <li>
                                                        <img src="images/company_pic/user.png" alt="..." class="img-circle profile_img">
                                                    </li>
                                                </ul>
                                            </div>

                                            <h3 class="name">{{ c.name }}</h3>
                                            <div class="col-md-6 col-sm-6 col-xs-12" style="width: 100%; padding: 0%; border-bottom: solid 1px; border-top: solid 1px">
                                            <h4 class="fa fa-envelope" aria-hidden="true" style="padding: auto">{{ c.email }}</h4>
                                            </br>
                                                <h4 class="fa fa-phone" aria-hidden="true" style="">{{ c.phone }}</h4>
                                            </div>
                                            <div class="actionBar">
                                                <a class="btn btn-success" href="../visualiser-audit-entreprise?entreprise={{ c.id }}" style="margin: 10%">Visualiser</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    {% endfor %}

                </div>
            </div>
        </div>
{% endblock %}