<div id="solution{{ test.id }}" class="accordion col-md-6" >
    <h5>{{ test.name }}</h5>
    <div class="text-center">
        <img class="img-responsive" src="images/solution_pic/{{ solutions.id }}.jpg">
        <h2 class="text-center"><b>{{ solutions.name }}</b></h2>
        <h1 class="text-center" style="color:#1ABB9C">{{ solutions.cost }}€</h1>
        <a data-toggle="tooltip" data-placement="top" title="{{ solutions.description }}"  style="border-bottom: 1px dashed">Description</a>
    </div>
</div>