{% extends 'base.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .dash-header{
            background: white;
            padding: .5%;
        }

        .purple{
            color: purple;
        }
    </style>
{% endblock %}


{% block body %}

    {{ parent() }}
        <!-- page content -->
<div class="content">
    <div class="container-fluid">
        <div class="row dash-header">
            <h2>Tableau de bord</h2>
        </div>

        <div class="row">
           <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Mes audits créés</h3>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="text-info">
                                  <tr>
                                    <th>
                                       Nom de l'audit
                                    </th>
                                     <th>
                                        Client
                                     </th>
                                     <th>
                                        Statut
                                     </th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for audit in createdAudit %}
                                    <tr>
                                        <td>{{ audit.name }}</td>
                                        <td>{{ audit.customer.name }}</td>
                                        <td>{% if audit.finishDate is not null %}<i class="material-icons" style="color : #55b559">check_circle</i> {% elseif audit.started == false %}<i class="material-icons" style="">power_settings_new</i>{% else %}<i class="material-icons" style="">pause_circle_filled</i>{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h3 class="card-title">Audits</h3>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <canvas id="chartEmails"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <p class="card-category">Utilisateurs enregistrés</p>
                        <h3 class="card-title purple" style="color: purple">{{ nbUser }}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">link</i>
                            <a href="#pablo">Visualiser</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">check_box</i>
                        </div>
                        <p class="card-category">Nombre de tests créés</p>
                        <h3 class="card-title purple" style="color: purple">{{ nbTest }}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">link</i>
                            <a href="#pablo">Visualiser</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div id="map"></div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="../vendor/Chart.js/dist/Chart.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBugC8GAYi9NRF7IHPn0_kMv3yZXNJbp8"></script>
    <script>
        $('.nav-item.active').removeClass('active');
        $('#nav-dash').addClass('active');
        var ctxEmail = $('#chartEmails');
        var ctxAudit = $('#chartAudit');
        var ctxAppoint = $('#chartAppoint');

           var myCharEmails = new Chart(ctxEmail, {
            type: 'line',
            data: {
                labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin"],
                datasets: [
                    {
                        label : 'Nombre de mails envoyés',
                        data : [20,15,35,20,10,25],
                        backgroundColor : 'rgba(255, 167, 38, 0.1)',
                        borderColor : '#ffa726',
                        fill : false,
                        lineTension : .4
                    },
                        {
                        label : 'Nombre d\'audits réalisés',
                        data : [10,5,15,8,6,20],
                        backgroundColor : 'rgba(156, 39, 175, 0.1)',
                        borderColor : '#9c27b0',
                        fill : false,
                        lineTension : .4
                    },
                      {
                        label : 'Nombre de prises de contact prises',
                        data : [2,1,8,6,4,12],
                        backgroundColor : 'rgba(156, 188, 212, 0.1)',
                        borderColor : '#00bcd4',
                        fill : false,
                        lineTension : .4
                    }

                ]
            },
            options: {
                legend: {
                    display : false
                },
                title: {
                    display : false,
                    position : 'top',
                    text : 'Nombre d\'audits réalisés par semestre',
                    fontSize : 18,
                },
                scales:
                    {

                        yAxes: [{
                            gridLines : {
                                display : false
                            }
                        }],
                    }
            }

        })
        var myCharAudit = new Chart(ctxAudit, {
            type: 'line',
            data: {
                labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin"],
                datasets: [
                    {
                        label : 'Nombre d\'audits réalisés',
                        data : [10,5,15,8,6,20],
                        backgroundColor : 'rgba(156, 39, 175, 0.1)',
                        borderColor : '#9c27b0',
                        fill : true,
                        lineTension : .4
                    }
                ]
            },
            options: {
                legend: {
                    display : false
                },
                title: {
                    display : false,
                    position : 'top',
                    text : 'Nombre d\'audits réalisés par semestre',
                    fontSize : 18,
                },
                scales:
                    {

                        yAxes: [{
                            gridLines : {
                                display : false
                            }
                        }],
                    }
            }

        })
        var myChartAppoint = new Chart(ctxAppoint, {
            type: 'line',
            data: {
                labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin"],
                datasets: [
                    {
                        label : 'Nombre de rendez-vous pris',
                        data : [2,1,8,6,4,12],
                        backgroundColor : 'rgba(156, 188, 212, 0.1)',
                        borderColor : '#00bcd4',
                        fill : true,
                        lineTension : .4
                    }
                ]
            },
            options: {
                legend: {
                    display : false
                },
                title: {
                    display : false,
                    position : 'top',
                    text : 'Nombre d\'audits réalisés par semestre',
                    fontSize : 18,
                },
                scales:
                    {

                        yAxes: [{
                            gridLines : {
                                display : false
                            }
                        }],
                    }
            }

        })
          $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initGoogleMaps();
    });
    </script>

{% endblock %}