{% extends 'base.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .dash-header{
            background: white;
            padding: .5%;
        }

        .purple{
            color: purple;
        }
    </style>
{% endblock %}


{% block body %}

    {{ parent() }}
        <!-- page content -->
<div class="content">
    <div class="container-fluid">
        <div class="row dash-header">
            <h2>Tableau de bord</h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <p class="card-category">Utilisateurs actifs</p>
                        <h3 class="card-title purple" style="color: purple">{{ nbUser }}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">link</i>
                            <a href="#pablo">Visualiser</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h3 class="card-title">Historique des activités administratives</h3>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body" style="overflow-y: scroll; height:300px;">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#log-user" role="tab" aria-controls="home" aria-selected="true" style="color: black">Utilisateur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#log-custom" role="tab" aria-controls="profile" aria-selected="false" style="color: black">Client</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#log-content" role="tab" aria-controls="contact" aria-selected="false" style="color: black">Contenu de l'audit</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="">
                            <div class="tab-pane fade show active" id="log-user" role="tabpanel" aria-labelledby="home-tab">
                                <table class="table" style="text-align: center">
                                    <thead>
                                    <th>Source</th>
                                    <th>Action</th>
                                    <th>Récipient</th>
                                    <th><i class="material-icons">watch_later</i></th>
                                    </thead>
                                    <tbody>
                                    {% for l in loguser %}
                                        <tr>
                                            <td class="log-user">{{ l.creator.first_name }} {{ l.creator.second_name }}</td>
                                            <td class="log-icon">{% if l.action.action == 'Créer' %} <i class="material-icons"  title="Créer">create</i>{% elseif l.action.action == 'Supprimer' %} <i class="material-icons" title="Désactiver">delete</i>{% endif %}</td>
                                            <td class="log-user">{{ l.recipient.username }}</td>
                                            <td class="log-date">{{ l.datecreation|date('Y-m-d H:i:s')}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="log-custom" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="table" style="text-align: center">
                                    <thead>
                                    <th>Source</th>
                                    <th>Action</th>
                                    <th>Client</th>
                                    <th><i class="material-icons">watch_later</i></th>
                                    </thead>
                                    <tbody>
                                    {% for l in loguser %}
                                        <tr>
                                            <td class="log-user">{{ l.creator.first_name }} {{ l.creator.second_name }}</td>
                                            <td class="log-icon">{% if l.action.action == 'Créer' %} <i class="material-icons"  title="Créer">create</i>{% elseif l.action.action == 'Supprimer' %} <i class="material-icons" title="Désactiver">delete</i>{% endif %}</td>
                                            <td class="log-user">{{ l.recipient.username }}</td>
                                            <td class="log-date">{{ l.datecreation|date('Y-m-d H:i:s')}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="log-content" role="tabpanel" aria-labelledby="contact-tab">
                                <table class="table" style="text-align: center">
                                    <thead>
                                    <th>Source</th>
                                    <th>Action</th>
                                    <th>Couche</th>
                                    <th>Element</th>
                                    <th><i class="material-icons">watch_later</i></th>
                                    </thead>
                                    <tbody>
                                    {% for l in logcontent %}
                                        <tr>
                                            <td class="log-user">{{ l.creator.first_name }} {{ l.creator.second_name }}</td>
                                            <td class="log-icon">{% if l.action.action == 'Créer' %} <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Tooltip on top">create</i>{% elseif l.action.action == 'Supprimer' %} <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Tooltip on top">delete</i>{% endif %}</td>
                                            <td class="">{{ l.element }}</td>
                                            <td class="log-user">{{ l.name }}</td>
                                            <td class="log-date">{{ l.datecreation|date('Y-m-d H:i:s')}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h3 class="card-title">Historique des activités de sécurité</h3>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body" style="overflow-y: scroll; height:300px;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

                 <div class="col-md-7">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title">Mes audits créés</h3>
                        <p class="card-category"></p>
                    </div>
                    <div style="overflow-y: scroll; height:300px;" class="card-body">
                        <table class="table table-hover">
                            <thead class="text-info">
                                  <tr>
                                    <th>
                                       Nom de l'audit
                                    </th>
                                     <th>
                                        Client
                                     </th>
                                     <th>
                                        Statut
                                     </th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for audit in createdAudit %}
                                    <tr>
                                        <td>{{ audit.audit.name }}</td>
                                        <td>{{ audit.audit.customer.customer }}</td>
                                        <td>{% if audit.audit.finishDate is not null %}<i class="material-icons" style="color : #55b559">check_circle</i> {% elseif audit.audit.started == false %}<a href="../audit/préaudit?audit={{ audit.audit.id }}"><i class="material-icons" style="">power_settings_new</i></a>{% else %}<a href="../audit/reprendre-audit?audit={{ audit.audit.id }}"><i class="material-icons" style="">pause_circle_filled</i>{% endif %}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h3 class="card-title">Historique des activités des audits</h3>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body" style="overflow-y: scroll; height:300px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
            <div class="card">
            <div class="card-header card-header-info">
                <h3 class="card-title">Audits</h3>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><h4 style="text-align: center"><span style="font-weight: bold">75</span> tests écrits</h4></td>
                            </tr>
                            <tr>
                                <td><h4 style="text-align: center"><span style="font-weight: bold">8</span> audits réalisés</h4></td>
                            </tr>
                            <tr>
                                <td><h4 style="text-align: center">Moyenne générale: <span style="font-weight: bold">42%</span></h4></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-9"><canvas id="chartEmails"></canvas></div>
            </div>

            </div>
        </div>
        </div>
        </div>
{% if is_granted('ROLE_GLOBAL_ADMIN') %}

        {% endif %}

</div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="../vendor/Chart.js/dist/Chart.js"></script>
    <script>
        $('.nav-item.active').removeClass('active');
        $('#nav-dash').addClass('active');
        var ctxEmail = $('#chartEmails');
        var ctxAudit = $('#chartAudit');
        var ctxAppoint = $('#chartAppoint');

           var myCharEmails = new Chart(ctxEmail, {
            type: 'line',
               label: '# d\'audits réalisés',
            data: {
                labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin"],
                datasets: [

                        {
                        label : 'Nombre d\'audits réalisés',
                        data : [10,5,15,8,6,20],
                        backgroundColor : 'rgba(156, 39, 175, 0.1)',
                        borderColor : '#9c27b0',
                        fill : false,
                        lineTension : .4
                    }


                ]
            },
            options: {
                legend: {
                    display : false
                },
                title: {
                    display : false,
                    position : 'top',
                    text : 'Nombre d\'audits réalisés par semestre',
                    fontSize : 18,
                },
                scales:
                    {

                        yAxes: [{
                            gridLines : {
                                display : false
                            }
                        }],
                    }
            }

        })
        var myCharAudit = new Chart(ctxAudit, {
            type: 'line',
            data: {
                labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin"],
                datasets: [
                    {
                        label : 'Nombre d\'audits réalisés',
                        data : [10,5,15,8,6,20],
                        backgroundColor : 'rgba(156, 39, 175, 0.1)',
                        borderColor : '#9c27b0',
                        fill : true,
                        lineTension : .4
                    }
                ]
            },
            options: {
                legend: {
                    display : false
                },
                title: {
                    display : false,
                    position : 'top',
                    text : 'Nombre d\'audits réalisés par semestre',
                    fontSize : 18,
                },
                scales:
                    {

                        yAxes: [{
                            gridLines : {
                                display : false
                            }
                        }],
                    }
            }

        })
        var myChartAppoint = new Chart(ctxAppoint, {
            type: 'line',
            data: {
                labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin"],
                datasets: [
                    {
                        label : 'Nombre de rendez-vous pris',
                        data : [2,1,8,6,4,12],
                        backgroundColor : 'rgba(156, 188, 212, 0.1)',
                        borderColor : '#00bcd4',
                        fill : true,
                        lineTension : .4
                    }
                ]
            },
            options: {
                legend: {
                    display : false
                },
                title: {
                    display : false,
                    position : 'top',
                    text : 'Nombre d\'audits réalisés par semestre',
                    fontSize : 18,
                },
                scales:
                    {

                        yAxes: [{
                            gridLines : {
                                display : false
                            }
                        }],
                    }
            }

        })
          $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initGoogleMaps();
    });
    </script>

{% endblock %}