{% extends 'base.html.twig' %}

{% block title %}

    Profile
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../vendor/Croppie-2.6.2/croppie.css" />


    <style>
        .myDropzone{
            border: #337ab7 dashed 1px;
            margin-top: 2%;
        }
        .card-profile{
            text-align: left;
        }

        /* The overlay effect (full height and width) - lays on top of the container and over the image */
        .overlay {
            position: absolute;
            opacity: 0;
            transition: .3s ease;
            background-color: red;
        }

        /* When you mouse over the container, fade in the overlay icon*/
        .card-avatar:hover .overlay {
            opacity: 1;
        }

        /* The icon inside the overlay is positioned in the middle vertically and horizontally */
        .icon {
            color: white;
            font-size: 40px;
            position: absolute;
            transform: translate(90%, -190%);
        }

        /* When you move the mouse over the icon, change color */
        .fa-camera:hover {
            color: #eee;
        }

        #nav-profile .nav-item{
            background-color: #eee;
            border: solid 2px white;
        }

        .nav-link{
            color: black;
        }

        .nav-link:hover{
            color: black;
            background-color: lightgrey;
        }
        .nav-link.active{
            background-color: white;
            color: black;

        }

        ::placeholder {
            color: black;
        }
    </style>

{% endblock %}

{% block body %}

    {{ parent() }}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                                        <div class="col-md-2">

                <ul class="nav flex-column" id="nav-profile" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#home">Mes informations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#menu1">Projet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#menu2">Menu 2</a>
                    </li>
                </ul>
               </div>
                <!-- Tab panes -->
                <div class="col-md-6">

                <div class="tab-content">
                    <div id="home" class="container tab-pane active"><br>
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <img class="img" {% if not app.user.profile_pic %}src="../génèrer-avatar?rq=avatar"{% else %}src="../images/profile_pic/{{ app.user.id }}.{{ app.user.profile_pic }}"{% endif %}  />
                                    <div class="overlay">
                                        <a href="#" class="icon" title="Modifier la photo de profile">
                                            <i class="fa fa-camera" id="profileIcon"></i>
                                            <input type="file" id="file1"  name="file1" accept="image/*" style="display:none" />

                                        </a>
                                    </div>
                                </div>
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            </div>
                                            <div class="modal-body">
                                                <div id="croppie"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">{{ app.user.first_name }}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">{{ app.user.second_name }}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">{{ app.user.username }}</label>
                                                    <input type="email" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">{{ app.user.function }}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>A propos de moi</label>
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating"></label>
                                                        <textarea class="form-control" rows="5"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">Mettre à jour</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Changer de mot de passe</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                </div>
                        </div>
                    </div>


                    <div id="menu1" class="container tab-pane fade"><br>
                        <h3>Menu 1</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu2" class="container tab-pane fade"><br>
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="../vendor/Croppie-2.6.2/croppie.js"></script>
    <script>
        $("#profileIcon").click(function () {
            $("#file1").trigger('click');
        });
        $image_crop = $('#croppie').croppie({
            enableExif: true,
            viewport: {
                width:200,
                height:200,
                type:'square' //circle
            },
            boundary:{
                width:300,
                height:300
            }
        });

        $('#file1').on('change', function(){
            var reader = new FileReader();
            reader.onload = function (event) {
                $image_crop.croppie('bind', {
                    url: event.target.result
                }).then(function(){
                    console.log('jQuery bind complete');
                });
            }
            reader.readAsDataURL(this.files[0]);
            $('#myModal').modal('show');
        });

    </script>
{% endblock %}