{% extends 'base.html.twig' %}

{% block title %}

    Profile
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="../vendor/jquery-cropbox-master/jquery.cropbox.css" rel="stylesheet">

{% endblock %}

{% block body %}

    {{ parent() }}
    <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-6 col-sm-3 col-xs-12 col-md-offset-3 small-container" style="padding: 2%">

                    <div class="col-md-6 col-sm-3 col-xs-12">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <img class="img-responsive avatar-view" id="profile_pic" src="../images/profile_pic/" alt="Avatar" title="Change the avatar">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-3 col-xs-12">
                                    <form class="form-horizontal form-label-left input_mask" method="post" action="../profile">

                                        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Prénom" name="fName" value="{{ app.user.first_name }}">
                                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control" id="inputSuccess3" placeholder="Nom" name="sName" value="{{  app.user.second_name }}">
                                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                        </div>

                                        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Email" name="email" value="{{  app.user.username }}">
                                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Fonction" name="function" value="{{  app.user.function }}">
                                            <span class="fa fa-briefcase form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-4 col-xs-offset-4">
                                            <button type="submit" class="btn btn-primary" name="submit" value="editProfile">Editer profile</button>
                                        </div>
                                    </form>
                                </div>

                                    </div>
                                </div>
                            </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="../vendor/jquery-cropbox-master/jquery.cropbox.js"></script>
    <script>
        $('#profile_pic').cropbox({
            width: 200,
            height: 200
        }).on('cropbox', function(e, data) {
            console.log('crop window: ' + data);
        });
    </script>
{% endblock %}